{% extends 'dashboard/index.html' %}
{% load custom_tags %}
{% block dashoard_title %}
Invoice Receivables Details -
{% endblock %}

{% block css %}
<style>
   

    .large-table-container-3 {
    max-width: 100vw;
    overflow-x: scroll;
    overflow-y: auto;
    }
   
    .large-table-fake-top-scroll-container-3 {
    max-width: 100vw;
    overflow-x: scroll;
    overflow-y: auto;
    }
    .large-table-fake-top-scroll-container-3 div {
    
    font-size:1px;
    line-height:1px;
    }


</style>
{% endblock %}

{% block dashboard_heading %}
<h1 class="h5 mb-0 text-gray-800">
    Recievable Invoice Lists
</h1>
<div class="">

    <a href="{% url 'accounting:create_recievable_invoice' module=module %}"
        class="mr-2 d-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Create New</a>

   
</div>


{% endblock %}


{% block dashboard_content %}

<div class="large-table-fake-top-scroll-container-3">
    <div>&nbsp;</div>
  </div>


<div class="table-responsive">


<table class="table  nowrap compact table-primary table-bordered table-md-responsive" id="invoice_table">
    <thead>
        <tr>

            <th scope="col">Branch</th>
            <th scope="col">Job No.</th>

            <th scope="col">Invoice No.</th>
            <th scope="col">Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Module</th>
            <th scope="col">Bill To</th>
            <th scope="col">HBL</th>
            <th scope="col">MBL</th>
          
           
            <th scope="col">Type</th>
            <th scope="col">Gross Amount</th>
            <th scope="col">GST Amount</th>
            <th scope="col">Net Amount</th>

            <!-- <th scope="col">Approved</th> -->
            <th scope="col">Proforma</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th style="background-color: #280466!important;" scope="col">Actions</th>
            <th style="background-color: #280466!important;" scope="col">PDF</th>
            <th style="background-color: #280466!important;" scope="col">Print PDF</th>
        </tr>
    </thead>
    <tbody>
        {% for data in invoices %}


        {% if data.due_date < current_date %} <tr style="background-color: indianred;">
            {% else %}
            <tr>
                {% endif %}
                <td>{{ data.company_type }}</td>
                <td>{{ data.job_no }}</td>
                <td>{{ data.invoice_no }}</td>
                <td>{{ data.date_of_invoice|date:"Y-m-d" }}</td>
                <td>{{ data.due_date|date:"Y-m-d" }}</td>
                <td>{{ data.job_no.module }}</td>
                <td>{{ data.bill_to }}</td>
                <td>
                    {% for i in data.hbl_options.all %}
                    {{ i.job_hbl_no }}/
                {% endfor %}</td>

                <td>
                    {% for i in data.hbl_options.all %}
                    {{ i.mbl_no }}/
                    {% endfor %}
                </td>
                
               
               
                <td>{{ data.company_type.tax_policy }}</td>
                
              
                <td align="right">{{ data.gross_amount|floatformat:0|floatformat:2 }}</td>
                <td align="right">{{ data.gst_amount|floatformat:0|floatformat:2 }}</td>
                <td align="right">{{ data.net_amount|floatformat:0|floatformat:2 }}</td>

                {% if data.is_proforma %}
                <td><span class="badge rounded-pill bg-primary text-white"><i class="bi fa-lg bi-check"></i></span></td>
                {% else %}
                <td><span class="badge rounded-pill bg-success text-white"><i class="bi fa-lg bi-slash-circle"></i></span></td>
                {% endif %}
             

             


                <td>{{ data.created_by.first_name }}</td>
                <td>{{ data.created_at }}</td>

                <td>
                    

                    <a href="{% url 'accounting:recievable_invoice_update' module=module id=data.id %}"
                        class="btn btn-xs btn-info "><i class="fas fa-edit"></i></a>

                   
                   
                    {% if not data.is_proforma %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-xs btn-primary" data-toggle="modal"
                        data-target="#e_invoice{{ forloop.counter }}" data-toggle="tooltip" data-placement="top" title="Make E-Invoice">
                        <i class="bi bi-tag"></i>
                    </button>
                    {% else %}
                    <button type="button"  class="btn btn-xs btn-secondary" data-toggle="tooltip" data-placement="top" title="Please Uncheck Proforma Invoice To Proceed"><i class="bi bi-tag"></i></button>
                    {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="e_invoice{{ forloop.counter }}" tabindex="-1" role="dialog"
                        aria-labelledby="e_invoice{{ forloop.counter }}Label" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="e_invoice{{ forloop.counter }}Label">Details
                                        {{data.invoice_no}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% if data.due_date|days_until < 0 %}
                                    <strong class="text-danger"> 
                                        Please Check Due Date {{data.due_date}}?
                                    </strong> 
                                    <br>
                                    {% endif %}
                                  <strong>  Are you sure want to create E-Invoice For {{ data.invoice_no }}?</strong> 

                                    <div class="table-responsive">

                                   
                                    <table class="table compact table-bordered">
                                        <thead >
                                        <tr>
                                           <th style="color:black!important;">Company Gstin</th>
                                           <th style="color:black!important;">Intra / Inter</th>
                                           <th style="color:black!important;">Document Type</th>
                                           <th style="color:black!important;">Category</th>
                                           <th style="color:black!important;">Date</th>
                                           <th style="color:black!important;">Reverse Charge</th>
                                           <th style="color:black!important;">Place of Supply</th>
                                           <th style="color:black!important;">Company GSTIN</th>
                                           <th style="color:black!important;">Company Legal Name</th>
                                           <th style="color:black!important;">Company Address</th>
                                           <th style="color:black!important;">Branch Name</th>
                                           <th style="color:black!important;">Company GST Code</th>
                                           <th style="color:black!important;">Company PIN Code</th>
                                           <th style="color:black!important;">Buyer GSTIN</th>
                                           <th style="color:black!important;">Buyer Legal Name</th>
                                           <th style="color:black!important;">Buyer Address 1</th>
                                           <th style="color:black!important;">Buyer Location</th>
                                           <th style="color:black!important;">Buyer GST Code</th>
                                           <th style="color:black!important;">Buyer PIN Code</th>
                                           <th style="color:black!important;">Total Discount</th>
                                           <th style="color:black!important;">Total Taxable Value</th>
                                           <th style="color:black!important;">Total Invoice Value</th>
                                          
                                          
                                        </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>{{data.company_type.gstin_no}}</td>
                                                <td>
                                                    {% if data.bill_to_address.corp_state.gst_code == data.company_type.company_gst_code %}
                                                    Intra
                                                    {% else %}
                                                    Inter
                                                    {% endif %}
                                                </td>
                                                <td>{{data.type_of_invoice}}</td>
                                                <td>{{data.category}}</td>
                                                <td>{{current_date|date:"Y-m-d"}}</td>
                                                <td>
                                                {% if data.type_of_invoice == "RCM" %}
                                                    <span class="badge badge-success">Yes</span>
                                                    {% else %}
                                                <span class="badge badge-danger">No</span>
                                                    {% endif %}
                                                </td>
                                                <td>{{data.bill_to_address.corp_state.gst_code}}</td>
                                                <td>{{data.company_type.gstin_no}}</td>
                                                <td>{{data.company_type.legal_name}}</td>
                                                <td>{{data.company_type.address_line_1}}</td>
                                                <td>{{data.company_type.branch_name}}</td>
                                                <td>{{data.company_type.company_gst_code}}</td>
                                                <td>{{data.company_type.pin_code}}</td>
                                                <td>{{data.bill_to_address.corp_gstin}}</td>
                                                <td>{{data.bill_to.party_name}}</td>
                                                <td>{{data.bill_to_address.corp_address_line1}}</td>
                                                <td>{{data.bill_to_address.corp_state.name}}</td>
                                                <td>{{data.bill_to_address.corp_state.gst_code}}</td>
                                                <td>{{data.bill_to_address.corp_zip}}</td>
                                                <td>0</td>
                                                <td align="right">{{data.gross_amount|floatformat:2}}</td>
                                                <td align="right">{{data.net_amount|floatformat:2}}</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                   
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a onclick="disableMe(this)"  id="einvoice_button" href="{% url 'accounting:make_eninvoice_recievable' module=module id=data.id  %}"
                                        class="btn btn-primary">Confirm E-Invoice</a>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    {% if not data.is_proforma %}
                    <button type="button" class="btn btn-xs btn-primary" data-toggle="modal"
                    data-target="#send_email{{ forloop.counter }}" data-toggle="tooltip" data-placement="top" title="Send Invoice">
                    <i class="bi bi-send"></i>
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-xs btn-secondary"   data-toggle="tooltip" data-placement="top" title="Send Invoice">
                    <i class="bi bi-send"></i>
                    </button>
                    {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="send_email{{ forloop.counter }}" tabindex="-1" role="dialog"
                        aria-labelledby="send_email{{ forloop.counter }}Label" aria-hidden="true">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="send_email{{ forloop.counter }}Label">Details
                                        {{data.invoice_no}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                  <strong>  Are you sure want to send invoice to {{ data.bill_to_address.corp_email }}?</strong> 

                                   
                                   
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    {% if data.bill_to_address.corp_email %}
                                    <a href="{% url 'accounting:send_rec_invoice' module=module id=data.id from_url='recievable_invoice_details' %}"
                                    class="btn  btn-info " data-toggle="tooltip" data-placement="top" title="Send Invoice">Confirm Send</a>
                                    {% else %}
                                    <a href="#"    class="btn  btn-secondary " data-toggle="tooltip" data-placement="top" title="Please fill email in party details">Confirm Send</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                  


                    {% if request.user.user_account.can_delete %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-xs btn-danger" data-toggle="modal"
                        data-target="#deleteModal{{ forloop.counter }}" data-toggle="tooltip" data-placement="top" title="Delete Invoice">
                        <i class="fas fa-trash"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModal{{ forloop.counter }}Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModal{{ forloop.counter }}Label">Delete
                                        {{data.invoice_no}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure want to delete {{ data.invoice_no }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="{% url 'accounting:recievable_invoice_delete' module=module id=data.id  %}"
                                        class="btn btn-primary">Confirm Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                </td>

                {% if data.company_type.tax_policy  == "GST" %}
                <td>
                
                    <a class="btn btn-xs btn-primary" href="{% url 'accounting:recievable_invoice_pdf' id=data.id %}"
                        target="_blank"><i class="fas fa-file-pdf"></i></a>
                </td>

                
                {% else %}

                <td>
                
                    <a class="btn btn-xs btn-primary" href="{% url 'accounting:recievable_invoice_pdf' id=data.id %}"
                        target="_blank"><i class="fas fa-file-pdf"></i></a>
                </td>
                {% endif %}


                <td>
                
                    <a class="btn btn-xs btn-info" href="{% url 'accounting:recievable_invoice_print_pdf' id=data.id %}"
                        target="_blank"><i class="fas fa-file-pdf"></i></a>
                </td>


            </tr>


            {% endfor %}

    </tbody>



</table>
</div>



{% endblock %}


{% block js %}

<script>

    var selected_ids = []
    $(document).ready(function () {


        let table = new DataTable('#invoice_table', {
            // options
            dom: 'BQlfrtip',
            "columnDefs": [
                { "type": "date", "targets": 2 },
                { "type": "date", "targets": 3 }
            ],
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
               
            ],
            "pageLength": 25,
           
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf',

                    ]
                },

            ]

        });
        document.querySelector('.dtsb-title').style.display = 'none'
    })


    $(function() {
  var tableContainer = $(".table-responsive");
  var table = $(".table-responsive table");
  var fakeContainer = $(".large-table-fake-top-scroll-container-3");
  var fakeDiv = $(".large-table-fake-top-scroll-container-3 div");

  var tableWidth = table.width();
  fakeDiv.width(tableWidth);

  fakeContainer.scroll(function() {
tableContainer.scrollLeft(fakeContainer.scrollLeft());
  });
})


  

</script>


<script> 
    function disableMe(link) {
    
      link.onclick = function(event) {
         link.href = "#"
         link.style.backgroundColor = "grey";
      }
    }   
 </script>

{% endblock %}