<div class="row" id="np-row">
    {% if update and obj.trailor_np_ref.all|length > 0 %}
    {% for i in obj.trailor_np_ref.all %}
    <div class="col-12 mb-2" id="np-row-{{forloop.counter}}">
        <div class="row" >
            <div class="col-md-2">
                <input type="hidden" name="is_np_active_{{forloop.counter}}" id="is_np_active_{{forloop.counter}}" value="yes" />
                <input type="hidden" name="is_np_update_{{forloop.counter}}" id="is_np_update_{{forloop.counter}}" value="yes" />
                <input type="hidden" name="is_np_id_{{forloop.counter}}" id="is_np_id_{{forloop.counter}}" value="{{i.id}}" />
                <label for="np_no_{{forloop.counter}}">Permit No</label>
                <input type="text" value="{{ i.permit_no }}" name="np_no_{{forloop.counter}}" id="np_no_{{forloop.counter}}" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="np_file_{{forloop.counter}}">File
                    {% if i.file %}
                    <a href="{{i.file.url}}" target="_blank">View</a>
                    {% endif %}
                </label>
                <input type="file" name="np_file_{{forloop.counter}}" id="np_file_{{forloop.counter}}" >
            </div>
            <div class="col-md-2">
                <label for="np_from_date_{{forloop.counter}}">From Date</label>
                <input type="date" value="{{ i.from_date|date:'Y-m-d' }}" name="np_from_date_{{forloop.counter}}" id="np_from_date_{{forloop.counter}}" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="np_to_date_{{forloop.counter}}">To Date</label>
                <input type="date" value="{{ i.to_date|date:'Y-m-d' }}" name="np_to_date_{{forloop.counter}}" id="np_to_date_{{forloop.counter}}" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="np_remarks_{{forloop.counter}}">Remarks</label>
                <input type="text" value="{{i.remarks}}" name="np_remarks_{{forloop.counter}}" id="np_remarks_{{forloop.counter}}" class="form-control">
            </div>
            <div class="col-md-2">
                
                <button type="button" onclick="deletenpTow({{forloop.counter}})" class="btn btn-danger mt-4">Delete</button>
            </div>
        </div>
    
        </div>
    {% endfor %}
    {% else %}
    <div class="col-12 mb-2" id="np-row-1">

        <div class="row" >
            <div class="col-md-2">
                <input type="hidden" name="is_np_active_1" id="is_np_active_1" value="yes" />
                <input type="hidden" name="is_np_update_1" id="is_np_update_1" value="no" />
                <label for="np_no_1">Permit No</label>
                <input type="text"  name="np_no_1" id="np_no_1" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="np_file_1"> File</label>
                <input type="file"  name="np_file_1" id="np_file_1" >
            </div>
            <div class="col-md-2">
                <label for="np_from_date_1">From Date</label>
                <input type="date"  name="np_from_date_1" id="np_from_date_1" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="np_to_date_1">To Date</label>
                <input type="date" name="np_to_date_1" id="np_to_date_1" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="np_remarks_1">Remarks</label>
                <input type="text"  name="np_remarks_1" id="np_remarks_1" class="form-control">
            </div>
            
            <div class="col-md-2">
                
                <button type="button" onclick="deletenpTow(1)" class="btn btn-danger mt-4">Delete</button>
            </div>
        </div>
    
        </div>
    {% endif %}
    
</div>

<button class="btn btn-primary mb-3" type="button" onclick="addnpRow()">Add More</button>

<script>
    var npCurrentRow = parseInt(document.getElementById('trailor_np_total_rows').value) || 1
    const addnpRow = () => {
        var newElement = document.createElement('div')
        npCurrentRow += 1
        newElement.classList.add('col-12')
        newElement.setAttribute('id', `np-row-${npCurrentRow}`)
        newElement.classList.add('mb-2')
        newElement.innerHTML = `
        <div class="row">
            <div class="col-md-2">
                <input type="hidden" name="is_np_active_${npCurrentRow}" id="is_np_active_${npCurrentRow}" value="yes" />
                <input type="hidden" name="is_np_update_${npCurrentRow}" id="is_np_update_${npCurrentRow}" value="no" />
                <label for="np_no_${npCurrentRow}">Permit No</label>
                <input type="text"  name="np_no_${npCurrentRow}" id="np_no_${npCurrentRow}" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="np_file_${npCurrentRow}"> File</label>
                <input type="file"  name="np_file_${npCurrentRow}" id="np_file_${npCurrentRow}" >
            </div>
            <div class="col-md-2">
                <label for="np_from_date_${npCurrentRow}">From Date</label>
                <input type="date"  name="np_from_date_${npCurrentRow}" id="np_from_date_${npCurrentRow}" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="np_to_date_${npCurrentRow}">To Date</label>
                <input type="date" name="np_to_date_${npCurrentRow}" id="np_to_date_${npCurrentRow}" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="np_remarks_${npCurrentRow}">Remarks</label>
                <input type="text"  name="np_remarks_${npCurrentRow}" id="np_remarks_${npCurrentRow}" class="form-control">
            </div>
            <div class="col-md-2">
                
                <button type="button" onclick="deletenpTow(${npCurrentRow})" class="btn btn-danger mt-4">Delete</button>
            </div>
        </div>
        `
        document.getElementById('np-row').append(newElement)
        document.getElementById('trailor_np_total_rows').value = npCurrentRow
    }

    const deletenpTow = (index) => {
        console.log(index)
        document.getElementById(`np-row-${index}`).style.display = "none";
        document.getElementById(`is_np_active_${index}`).value = "no";
    }
</script>