{% extends 'dashboard/index.html' %}

{% load mathfilters %}
{% block dashoard_title %} 
Purchase Voucher - 
{% endblock %}

{% block dashboard_heading %}
<h1 class="h5 mb-0 text-white badge badge-primary">
    Purchase Voucher
</h1>

<a href="{% url 'accounting:invoice_payable_details' module=module  %}"
    class="d-inline-block btn  btn-primary shadow-sm"><i class="fas fa-eye  text-white-50"></i> View List</a>
{% endblock %}


{% block dashboard_content %}

<input type="hidden" id="invoice_length" value="{{ invoice_length }}">
{% if update %}
<input type="hidden" id="is_update" value="true">
{% else %}
<input type="hidden" id="is_update" value="false">
{% endif %}
<input type="hidden" id="user_company" value="{{ request.user.user_account.office.id }}">
<input type="hidden" id="extra_module" value="{{ extra_module }}">

<input type="hidden" id="module" value="{{ module }}">


<input type="hidden" id="pre_invoice" value="{{ settings.pre_payable_invoice }}">

<form enctype="multipart/form-data" method="post" autocomplete="off" onsubmit="disableSubmit(); return checkValidations();" id="inv_pay_form" data-job-url="{% url 'home:ajax_load_jobdetails' %}">
    {% csrf_token %}
    {% include 'error_component.html' %}
    <div class="row">
        <div class="col-12">
            {{form.is_rcm}}
            <label for="id_is_rcm">IS RCM</label>
        </div>
        {% if request.user.user_account.create_global_data %}
        <div class="col-md-2 col-sm-12 mb-1">
            <label class="required" for="id_company_type">Choose Company</label>
            {{ form.company_type }}
        </div>
        {% else %}
            <input type="hidden" name="company_type" id="id_company_type" value="{{ request.user.user_account.office.id }}">
        {% endif %}
      
        <div class="col-md-2 col-sm-12 mb-1">
            <label class="required" for="id_job_no">Select Job</label>
            {{ form.invoice_no }}
            {{ form.job_no }}
        </div>

       
        <div class="col-md-2 col-sm-12 mb-1">
            <label class="required" for="id_purchase_invoice_no">Purchase Invoice No.</label>
            {{ form.purchase_invoice_no }}
        </div>


        <div class="col-md-2 col-sm-12 mb-1">
            <label class="required" for="id_date_of_invoice">Invoice Date</label>
            {{ form.date_of_invoice }}
        </div>
        <div class="col-md-2 col-sm-12 mb-1">
            <label class="required" for="id_due_date">Due Date</label>
            {{ form.due_date }}
        </div>
        
        <div class="col-md-2 col-sm-12 mb-1">
            <label class="required" for="id_party_type">Direct/Indirect</label>
            {{ form.party_type }}
        </div>


        <div class="col-md-2 col-sm-12 mb-1" id="bill_from_div">
            <label class="required" for="id_bill_from">Bill From</label>
            {{ form.bill_from }}
        </div>
        <div class="col-md-2 col-sm-12 mb-1" id="bill_from_adress_div">
            <label class="required" for="id_bill_from_adress">Bill From Address</label>
            {{ form.bill_from_address }}
        </div>
        
        <div class="col-md-2 col-sm-12 mb-1" id="vendor_div">
            <label class="required" for="id_vendor">Vendor</label>
            {{ form.vendor }}
        </div>

        <div class="col-md-2 col-sm-12 mb-1">
            <label class="required" for="id_invoice_currency">Invoice Currency</label>
            {{ form.invoice_currency }}
        </div>

        <div class="col-md-2 col-sm-12 mb-1">
            <label class="required" for="id_currency_ex_rate">Currency Ex Rate</label>
            {{ form.currency_ex_rate }}
        </div>

        

        {% if update %}

        <input type="hidden" name="invoice-heads-total" id="invoice-heads-total" value="{{total_invoice_heads}}">
        {% else %}
        <input type="hidden" name="invoice-heads-total" id="invoice-heads-total" value="1">
        {% endif %}

        <div class="col-12">
            <div class="row my-4" id="invoice_heads">
                {% if update %}

                {% for head in invoice_heads %}
                <div class="col-12 mb-3" id="invoice-head-{{forloop.counter}}">

                    <input type="hidden" name="isActive_{{forloop.counter}}" value="1"
                        id="isActive_{{forloop.counter}}">

                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <label class="required" for="billing_head_{{forloop.counter}}">Billing Head</label>
                            <select required class="form-control" name="billing_head_{{forloop.counter}}"
                                id="billing_head_{{forloop.counter}}" onkeyup="getGSTFromBillingHead('{{forloop.counter}}')" onchange="getGSTFromBillingHead('{{forloop.counter}}')">

                                {% for bill in billing_heads %}
                                {% if head.billing_head.id == bill.id %}
                                <option value="{{bill.id}}" selected>{{bill.billing_head}}</option>
                                {% else %}
                                <option value="{{bill.id}}">{{bill.billing_head}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <label class="required" for="currency_{{forloop.counter}}">Currency</label>
                            <select required class="form-control" name="currency_{{forloop.counter}}"
                                id="currency_{{forloop.counter}}">
                                <option value="" disabled selected>-----</option>
                                {% for currency in currencies %}
                                {% if head.currency.id == currency.id %}

                                <option value="{{currency.id}}" selected>{{currency.short_name}}</option>
                                {% else %}

                                <option value="{{currency.id}}">{{currency.short_name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <label class="required" for="ex_rate_{{forloop.counter}}">Ex Rate</label>
                            <input required type="text" value="{{head.ex_rate}}" onkeyup="calculateInvoiceTotals()"
                                name="ex_rate_{{forloop.counter}}" id="ex_rate_{{forloop.counter}}"
                                class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <label class="required" for="rate_{{forloop.counter}}">Rate</label>
                            <input required type="text" value="{{head.rate}}" onkeyup="calculateInvoiceTotals()"
                                name="rate_{{forloop.counter}}" id="rate_{{forloop.counter}}" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <label class="required" for="qty_{{forloop.counter}}">Qty</label>
                            <input required type="text" value="{{head.qty_unit}}" onkeyup="calculateInvoiceTotals()"
                                name="qty_{{forloop.counter}}" id="qty_{{forloop.counter}}" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <label class="required" for="gst_{{forloop.counter}}">Tax %</label>
                            <input required type="text" value="{{head.gst}}" onkeyup="calculateInvoiceTotals()"
                                name="gst_{{forloop.counter}}" id="gst_{{forloop.counter}}" class="form-control">
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="required" for="amount_{{forloop.counter}}">Amount</label>
                            <input required type="text" value="{{head.amount}}" name="amount_{{forloop.counter}}"
                                id="amount_{{forloop.counter}}" class="form-control">
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="required" for="total_{{forloop.counter}}">Total</label>
                            <input required type="text" value="{{head.total}}" name="total_{{forloop.counter}}"
                                id="total_{{forloop.counter}}" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <i class="fas fa-times" onclick="deleteRow('{{forloop.counter}}');"
                                style="margin-top: 40px; color:red; cursor:pointer;"></i>
                        </div>
                        <input type="hidden" name="inv_gst_amount_{{forloop.counter}}" value="{{head.gst_amount}}"
                            id="inv_gst_amount_{{forloop.counter}}">
                    </div>


                </div>
                {% endfor %}

                {% else %}
                <div class="col-12 mb-3" id="invoice-head-1">

                    <input type="hidden" name="isActive_1" value="1" id="isActive_1">

                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <label class="required" for="billing_head_1">Billing Head</label>
                            <select required class="form-control" name="billing_head_1" id="billing_head_1" onkeyup="getGSTFromBillingHead(1)" onchange="getGSTFromBillingHead(1)">
                                <option value="" disabled selected>-----</option>
                                {% for head in billing_heads %}
                                <option value="{{head.id}}">{{head.billing_head}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <label class="required" for="currency_1">Currency</label>
                            <select required class="form-control" name="currency_1" id="currency_1">
                                <option value="" disabled selected>-----</option>
                                {% for currency in currencies %}
                                <option value="{{currency.id}}">{{currency.short_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <label class="required" for="ex_rate_1">Ex Rate</label>
                            <input required type="text" onkeyup="calculateInvoiceTotals()" name="ex_rate_1" id="ex_rate_1"
                                class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <label class="required" for="rate_1">Rate</label>
                            <input required type="text" onkeyup="calculateInvoiceTotals()" name="rate_1" id="rate_1"
                                class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <label class="required" for="qty_1">Qty</label>
                            <input required type="text" onkeyup="calculateInvoiceTotals()" name="qty_1" id="qty_1"
                                class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <label class="required" for="gst_1">Tax %</label>
                            <input required type="text" onkeyup="calculateInvoiceTotals()" name="gst_1" id="gst_1"
                                class="form-control">
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="required" for="amount_1">Amount</label>
                            <input required type="text" name="amount_1" id="amount_1" class="form-control">
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="required" for="total_1">Total</label>
                            <input required type="text" name="total_1" id="total_1" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <i class="fas fa-times" onclick="deleteRow(1);"
                                style="margin-top: 40px; color:red; cursor:pointer;"></i>
                        </div>
                        <input type="hidden" name="inv_gst_amount_1" value="0" id="inv_gst_amount_1">
                    </div>


                </div>
                {% endif %}

            </div>

            <button class="btn btn-primary mb-4" type="button" onclick="addMore();"> + Add More</button>

        </div>

        <div class="col-md-12 col-sm-12 mb-3">
            <div class="row">
                <div class="col-md-2 col-sm-12 mb-3">
                    <label for="id_round_off">Round Off</label>
                    {{ form.round_off }}
                </div>
                <div class="col-md-2 col-sm-12 mb-1">
                    <label class="required" for="id_gross_amount">Gross Amount</label>
                    {{ form.gross_amount }}
                </div>
                <div class="col-md-2 col-sm-12 mb-1">
                    <label class="required" for="id_gst_amount">Tax Amount</label>
                    {{ form.gst_amount }}
                </div>
                <div class="col-md-2 col-sm-12 mb-1">
                    <label class="required" for="id_net_amount">Net Amount</label>
                    {{ form.net_amount }}
                </div>

                <div class="col-md-2 col-sm-12 mb-1">
                    <label class="required" for="id_tds_section">TDS Section</label>
                    {{ form.tds_section }}
                </div>

                <div class="col-md-2 col-sm-12 mb-1" id="wht">
                    <label for="id_tds_percentage">TDS Percentage</label>
                    {{ form.tds_percentage}}
                </div>
                <div class="col-md-2 col-sm-12 mb-1">
                    <label class="required" for="id_tds_payable">TDS Payable
                      
                    </label>
                    {{ form.tds_payable }}
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 mb-3">
            <label for="id_remark_on_invoice">Remarks</label>
            {{ form.remark_on_invoice }}
        </div>
        <div class="col-12 mb-2">
            <div class="row">
                <div class="col-auto">
                    <label for="id_invoice_file_1">Invoice File 1</label>
                    {{form.invoice_file_1}}
                </div>
                <div class="col-auto">
                    <label for="id_invoice_file_2">Invoice File 2</label>
                    {{form.invoice_file_2}}
                </div>
                <div class="col-auto">
                    <label for="id_invoice_file_3">Invoice File 3</label>
                    {{form.invoice_file_3}}
                </div>
                <div class="col-auto">
                    <label for="id_invoice_file_4">Invoice File 4</label>
                    {{form.invoice_file_4}}
                </div>
                <div class="col-auto">
                    <label for="id_invoice_file_5">Invoice File 5</label>
                    {{form.invoice_file_5}}
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" id="submitBtn">
        {% if update %}
        Update Invoice
        {% else %}
        Submit
        {% endif %}

    </button>
</form>



{% endblock %}


{% block js %}

    <script>
        var is_update = document.getElementById('is_update').value == 'true'
        $("#id_job_no").change(function () {
            var url = $("#inv_pay_form").attr("data-job-url");
            var job_no = $(this).val();
            
            $.ajax({
              url: url,
              data: { 'job_no': job_no },
              dataType: 'json',
              success: function (data) {
              
        
              const job = data.job[0]
                       
              $("#id_origin").val(job.place_of_reciept_id);
              $("#id_destination").val(job.final_destination_id);
              
              $("#id_shipping_line").val(job.shipping_line_id);
              $("#id_air_line").val(job.air_line_id);
              $("#id_container_no").val(job.container_no);
              $("#id_container_type").val(job.container_type);
              $("#id_gross").val(job.gross_weight);
              $("#id_nett").val(job.net_weight);
              $("#id_total_cbm").val(job.cbm);
              $("#id_volume").val(job.volume);
              $("#id_hbl_no").val(job.hbl_no);
              $("#id_mbl_no").val(job.mbl_no);
              $("#id_total_packages").val(job.no_of_packages);
              $("#id_commodity").val(job.commodity);
              $("#id_commodity_type").val(job.commodity_type);
              $("#id_total_packages_type").val(job.packages_type);
              $("#id_bill_from").val(job.account_id);
              $("#id_vessel_voyage_id").val(job.vessel_voy_name);
              $("#id_vessel_voyage_date").val(job.vessel_voy_date);
              $("#id_flight_no").val(job.flight_no);
              $("#id_awb_no").val(job.awb_no);
              $("#id_docket_no").val(job.docket_no);
              $("#id_sales_person").val(job.sales_person);

            if(job.account_id){
                getOnlyPartyAdress()
            }
              
            }
            });
          });
    </script>
    
    <script>
        const calculateTDSPayable = () => {
            try{
               var tds = parseFloat(document.getElementById('id_tds_percentage').value)
               var gross = parseFloat(document.getElementById('id_gross_amount').value)
               var tds_amount = parseFloat((tds*gross) / 100).toFixed(2)
               document.getElementById('tds_payable').value = tds_amount
            }catch{

            }

        }
        document.getElementById('id_tds_percentage').addEventListener('keyup',calculateTDSPayable)
        document.getElementById('id_tds_percentage').addEventListener('change',calculateTDSPayable)
    </script>



<script>
    var currentRowNumber = parseInt(document.getElementById('invoice-heads-total').value)
    var availableRowNumber = parseInt(document.getElementById('invoice-heads-total').value)
    var currency_data = []
    var billing_data = []
    axios.get('/api/v1/currency/details').then((res) => {
        currency_data = res.data

    }).catch(err => {
    })
    axios.get('/api/v1/billing-head/details').then((res) => {
        billing_data = res.data

    }).catch(err => {
    })
    const billingsContent = document.getElementById('invoice_heads');
    const addMore = () => {
        currentRowNumber += 1;
        availableRowNumber += 1;

        var newElement = document.createElement('div')
        newElement.classList.add('col-12')
        newElement.setAttribute('id', `invoice-head-${currentRowNumber}`)
        newElement.classList.add('mb-3')

        newElement.innerHTML = `
        <div class="row">
            <input type="hidden" name="isActive_${currentRowNumber}" value="1" id="isActive_${currentRowNumber}">
            <div class="col-md-2 col-sm-12">
                <label class="required" for="billing_head_${currentRowNumber}">Billing Head</label>
                 <select required class="form-control" name="billing_head_${currentRowNumber}" id="billing_head_${currentRowNumber}" onkeyup="getGSTFromBillingHead(${currentRowNumber})" onchange="getGSTFromBillingHead(${currentRowNumber})">
                    <option value="" disabled selected>-----</option>
                    {% for head in global_billing_head %}
                                
                    <option value="{{head.id}}">{{head}}</option>
                            
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1 col-sm-12">
                <label class="required" for="currency_${currentRowNumber}">Currency</label>
                <select required class="form-control" name="currency_${currentRowNumber}" id="currency_${currentRowNumber}">
                    <option value="" disabled selected>-----</option>
                    {% for head in global_currencies %}
                                
                    <option value="{{head.id}}">{{head}}</option>
                            
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1 col-sm-12">
                <label class="required" for="ex_rate_${currentRowNumber}">Ex Rate</label>
                <input required type="text" onkeyup="calculateInvoiceTotals()" name="ex_rate_${currentRowNumber}" id="ex_rate_${currentRowNumber}" class="form-control">
            </div>
            <div class="col-md-1 col-sm-12">
                <label class="required" for="rate_${currentRowNumber}">Rate</label>
                <input required type="text" onkeyup="calculateInvoiceTotals()" name="rate_${currentRowNumber}" id="rate_${currentRowNumber}" class="form-control">
            </div>
            <div class="col-md-1 col-sm-12">
                <label class="required" for="qty_${currentRowNumber}">Qty</label>
                <input required type="text" onkeyup="calculateInvoiceTotals()" name="qty_${currentRowNumber}" id="qty_${currentRowNumber}" class="form-control">
            </div>
            <div class="col-md-1 col-sm-12">
                <label class="required" for="gst_${currentRowNumber}">Tax %</label>
                <input required type="text" onkeyup="calculateInvoiceTotals()" name="gst_${currentRowNumber}" id="gst_${currentRowNumber}" class="form-control">
            </div>
            <div class="col-md-2 col-sm-12">
                <label class="required" for="amount_${currentRowNumber}">Amount</label>
                <input required type="text" name="amount_${currentRowNumber}" id="amount_${currentRowNumber}" class="form-control">
            </div>
            <div class="col-md-2 col-sm-12">
                <label class="required" for="total_${currentRowNumber}">Total</label>
                <input required type="text" name="total_${currentRowNumber}" id="total_${currentRowNumber}" class="form-control">
            </div>
            <div class="col-md-1 col-sm-12">
                <i class="fas fa-times" onclick="deleteRow(${currentRowNumber});" style="margin-top: 40px; color:red; cursor:pointer;"></i>
            </div>
            <input type="hidden" name="inv_gst_amount_${currentRowNumber}" value="0" id="inv_gst_amount_${currentRowNumber}">
        </div>
        `

        billingsContent.append(newElement)
        document.getElementById('invoice-heads-total').value = currentRowNumber

    }

    const deleteRow = (index) => {

        availableRowNumber -= 1;
        document.getElementById(`isActive_${index}`).value = '0'
        document.getElementById(`billing_head_${index}`).required = false
        document.getElementById(`currency_${index}`).required = false
        document.getElementById(`ex_rate_${index}`).required = false
        document.getElementById(`rate_${index}`).required = false
        document.getElementById(`qty_${index}`).required = false
        document.getElementById(`gst_${index}`).required = false
        document.getElementById(`amount_${index}`).required = false
        document.getElementById(`total_${index}`).required = false
        document.getElementById(`invoice-head-${index}`).style.display = 'none'
        calculateInvoiceTotals()
    }

    const calculateInvoiceTotals = () => {
        var grossAmt = 0
        var gstAmt = 0
        var netAmt = 0
        for (var i = 1; i <= currentRowNumber; i++) {
            if (document.getElementById(`isActive_${i}`).value == '1') {

                var ex_rate = parseFloat(document.getElementById(`ex_rate_${i}`).value)
                var rate = parseFloat(document.getElementById(`rate_${i}`).value)
                var qty = parseFloat(document.getElementById(`qty_${i}`).value)
                var gst = parseFloat(document.getElementById(`gst_${i}`).value)
                var amount = document.getElementById(`amount_${i}`)
                var total = document.getElementById(`total_${i}`)

                var before_gst_amt = ex_rate * rate * qty
                amount.value = Math.round((before_gst_amt)*100)/100
                var gst_amt = Math.round(((before_gst_amt * gst) / 100) * 100 )/100;
                document.getElementById(`inv_gst_amount_${i}`).value = gst_amt
                total.value =  Math.round((gst_amt + before_gst_amt) * 100) / 100

                gstAmt += Math.round((gst_amt) * 100) /100;
                netAmt +=  Math.round((gst_amt + before_gst_amt) * 100) / 100
                grossAmt += Math.round((before_gst_amt) * 100) /100;

            }

        }

        document.getElementById('id_gross_amount').value = Math.round((grossAmt) * 100 ) / 100
        document.getElementById('id_gst_amount').value = Math.round((gstAmt) * 100) / 100
        document.getElementById('id_net_amount').value =    Math.round((netAmt) * 100) / 100
        if (isNaN((document.getElementById('id_gross_amount').value))) {
            document.getElementById('id_gross_amount').value = 'Calculating ...'
        }
        if (isNaN((document.getElementById('id_gst_amount').value))) {
            document.getElementById('id_gst_amount').value = 'Calculating ...'
        }
        if (isNaN((document.getElementById('id_net_amount').value))) {
            document.getElementById('id_net_amount').value = 'Calculating ...'
        }
    }

    document.getElementById('id_round_off').addEventListener('keyup', () => {
        calculateInvoiceTotals();
        var advance_amount = parseFloat(document.getElementById('id_round_off').value) || 0
        var net_amount = parseFloat(document.getElementById('id_net_amount').value) || 0
        if ((net_amount - advance_amount) >= 0) {
            document.getElementById('id_net_amount').value = net_amount - advance_amount
        }
        else {
            document.getElementById('id_net_amount').value = 'Please enter valid values...'

        }
    })
    const checkValidations = () => {
        if (availableRowNumber <= 0) {
            Snackbar.show({ text: 'Please Choose at invoice head.', pos: 'bottom-right', actionText: "Close", alertScreenReader: true, duration: 4000 });
            event.preventDefault();
            return false
        }
        else {
            var flag = 0
            for (var i = 1; i <= currentRowNumber; i++) {
                if (document.getElementById(`isActive_${i}`).value == '1') {
                    if (isNaN((document.getElementById(`id_amount_${i}`).value))) {
                        flag = 1
                    }
                    if (isNaN((document.getElementById(`id_total_${i}`).value))) {
                        flag = 1
                    }
                    if (isNaN((document.getElementById('id_gross_amount').value))) {
                        flag = 1
                    }
                    if (isNaN((document.getElementById('id_gst_amount').value))) {
                        flag = 1
                    }
                    if (isNaN((document.getElementById('id_net_amount').value))) {
                        flag = 1
                    }
                }

            }

            if (flag == 1) {
                Snackbar.show({ text: 'Please Check Form Again.', pos: 'bottom-right', actionText: "Close", alertScreenReader: true, duration: 4000 });
                event.preventDefault();
                return false
            }

        }
    }


    var data = []
    if(document.getElementById('is_update').value == 'false'){
        data = JSON.parse("{{jobs_current_len_of_companies|escapejs}}");
        document.getElementById('id_company_type').value = document.getElementById('user_company').value
    }
   

    var company_id = document.getElementById('id_company_type').value

    var current_company = data.find(item => item.company_type == company_id)

    document.getElementById('id_company_type').addEventListener('change', (event) => {
        if(document.getElementById('is_update').value == 'false'){
        updateCompanyType(event.target.value);
        }
    })
    function updateCompanyType(company_id) {

        var current_company = data.find(item => item.company_type == company_id)


        try {
            var module = document.getElementById('module').value
            const length = parseInt(current_company.count) + 1
            const job_no = document.getElementById('id_invoice_no').value
            var before_text = current_company.cn_starting

            document.getElementById('id_invoice_no').value = before_text + length

        } catch (err) {

        }

    }


    try {
        var module = document.getElementById('module').value
        const length = parseInt(current_company.count) + 1
        const job_no = document.getElementById('id_invoice_no').value
        var before_text = current_company.cn_starting
        if (job_no == '') {

            document.getElementById('id_invoice_no').value = before_text + length
        }
    } catch (err) {

    }


</script>


<script>
    function removeOptions(selectElement) {
        var i, L = selectElement.options.length - 1;
        for(i = L; i >= 0; i--) {
           selectElement.remove(i);
        }
        }

        /*
    if(document.getElementById('is_update').value == 'false'){
        document.getElementById('id_company_type').addEventListener('change',getOnlyCompanyJobs)
        }

      async function getOnlyCompanyJobs(){
        try{
    
            const company = document.getElementById('id_company_type').value
            const module = document.getElementById('extra_module').value

            var jobs = await axios.get('/api/v1/jobs/details?ordering=-id&company_type='+company)
            jobs = jobs.data
            const select = document.getElementById('id_job_no'); 
            const value = select.value
            removeOptions(select);
            

            select.required = false
            var newOption = new Option("Choose Job","")
            select.add(newOption);
            jobs = jobs.filter(item => {
               
                if (module == 'sea' && (item.module == "Sea Export" || item.module == 'Sea Import')){
                    
                    return item;
                }
                else if (module.includes('air') && (item.module == "Air Export" || item.module == 'Air Import')){
                    return item;
                }
                else{
                    return item;
                }
            })
            jobs.map(item=>{
                var newOption = new Option(item.job_no,item.id)
                if(item.id == value){
                    newOption.selected = true
                }
                select.add(newOption);
            })
    
        }catch(err){
            console.log(err)
        }
      }
      if(document.getElementById('is_update').value == 'false'){
      getOnlyCompanyJobs()
      }

      */
</script>

<script>

    if(is_update == false){
        document.getElementById('id_bill_from_address').innerHTML = ''
    }
    else{
    }
    getOnlyPartyAdress()
    
    document.getElementById('id_bill_from').addEventListener('change',getOnlyPartyAdress)
    document.getElementById('id_bill_from').addEventListener('keyup',getOnlyPartyAdress)
    async function getOnlyPartyAdress(){
        try{
    
            const party = document.getElementById('id_bill_from').value
            var adresses = await axios.get('/api/v1/party/details?party='+party)
            adresses = adresses.data
            const select = document.getElementById('id_bill_from_address'); 
            const value = select.value
            removeOptions(select);
            
            select.required = true
            var newOption = new Option("Choose Address","")
            select.add(newOption);
            
            adresses.map(item=>{
                var newOption = new Option(item.branch,item.id)
                if(item.id == value || adresses.length == 1){
                    newOption.selected = true
                }
                select.add(newOption);
            })
    
        }catch(err){
            console.log(err)
        }
      }
      document.getElementById('id_is_rcm').addEventListener('click',()=>{
        return handleConfirmSignal('id_is_rcm','Check this box if this invoice is RCM type.',true)
    })
    var purchaseInvoicesData = []
    const getPurchaseInvoiceNo = async() => {
        const res = await axios.get('/api/v1/payable/invoice-purchase-no/details')
        purchaseInvoicesData = res.data
        purchaseInvoicesData = purchaseInvoicesData.filter(item=>item.purchase_invoice_no != undefined)
        purchaseInvoicesData = purchaseInvoicesData.map(item=>item.purchase_invoice_no)

       
    }
    getPurchaseInvoiceNo()

    const checkInvoiceNo = () => {
        
        $('id_purchase_invoice_no').autocomplete({
            minLength: 1,
            delay: 100,
            source: purchaseInvoicesData,

        });
    }

    document.getElementById('id_purchase_invoice_no').addEventListener('keyup',checkInvoiceNo)


    
    function amount_calculation(){
        let gross_aamount=document.getElementById('id_gross_amount').value
       
        let tds_percentage=document.getElementById('id_tds_percentage').value
        let calculate_value=Math.round((gross_aamount*tds_percentage)/100)
   
        let tds_payable_data=document.getElementById('id_tds_payable')
        tds_payable_data.value=calculate_value
   
        

    }
    document.getElementById('id_tds_percentage').addEventListener('keyup',amount_calculation)

</script>

<script>
    const getGSTFromBillingHead = async(index) => {
        try{

            document.getElementById(`gst_${index}`).value = 0
            calculateInvoiceTotals()
            const billing_head = document.getElementById(`billing_head_${index}`).value
            const res = await axios.get(`/api/v1/billing-head/details/${billing_head}/`)
            const data = res.data
            document.getElementById(`gst_${index}`).value = data.gst
            calculateInvoiceTotals()
        }catch(err){
            document.getElementById(`gst_${index}`).value = 0
            calculateInvoiceTotals()
        }

    }


    
    const handleDirectOrIndirect = () => {
        const bill_from_div = document.getElementById(`bill_from_div`)
        const bill_from_address_div = document.getElementById(`bill_from_adress_div`)
        const vendor_div = document.getElementById(`vendor_div`)
        
        const bill_from = document.getElementById(`id_bill_from`)
        const bill_from_address = document.getElementById(`id_bill_from_address`)
        const vendor = document.getElementById(`id_vendor`)
        
        const party_type = document.getElementById(`id_party_type`).value

        bill_from_div.style.display = 'none';
        bill_from_address_div.style.display = 'none';
        vendor_div.style.display = 'none';

        bill_from.required = false
        bill_from_address.required = false
        vendor.required = false

        if(party_type === "Direct"){
          bill_from.required = true
          bill_from_address.required = true

          bill_from_div.style.display = 'block'
          bill_from_address_div.style.display = 'block'
        }
        
        if(party_type === "Indirect"){
          vendor.required = true
          vendor_div.style.display = 'block'
        }

        
    }
    handleDirectOrIndirect()
 
    document.getElementById(`id_party_type`).addEventListener('change',handleDirectOrIndirect)
    document.getElementById(`id_party_type`).addEventListener('keyup',handleDirectOrIndirect)

</script>
{% endblock %}