{% extends 'dashboard/index.html' %}

{% block dashboard_heading %}
<h1 class="h4 mb-0 text-gray-800">
    Party Address List
</h1>

<a href="{% url 'masters:create_party_address' module=module %}" class="d-inline-block btn  btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Create Party</a>


{% endblock %}


{% block dashboard_content %}
<div class="table-responsive">


<table class="table compact table-primary table-bordered " id="party_table">
    <thead>
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">Party Name</th>
        <th scope="col">Address 1</th>
        <th scope="col">Address 2</th>
        <th scope="col">Address 3</th>
        <th scope="col">Corp GST</th>
        <th scope="col">Branch</th>
        <th scope="col">Created By</th>
      
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
        {% for party in parties %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ party.party.party_name }}</td>
        <td>{{ party.corp_address_line1}}</td>
        <td>{{ party.corp_address_line2}}</td>
        <td>{{ party.corp_address_line3}}</td>
        <td>{{ party.corp_gstin}}</td>
        <td>{{ party.branch }}</td>
        <td>{{ party.created_by }}</td>
       
        <td>
            <a href="{% url 'masters:party_address_update' module=module id=party.id %}" class="btn btn-info btn-xs"><i class="fas fa-edit"></i></a>


            {% if request.user.user_account.can_delete %}
           <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}">
                <i class="fas fa-trash"></i>
            </button>
      
            <!-- Modal -->
            <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ forloop.counter }}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal{{ forloop.counter }}Label">Delete {{party.party.party_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Are you sure want to delete {{ party.party.party_name }}?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{% url 'masters:party_address_delete' module=module id=party.id %}" class="btn btn-primary">Confirm Delete</a>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
          
            
     

        </td>
    
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
</div>

{% endblock %}

{% block js %}
<script>
  let table = new DataTable('#party_table', {
    dom: 'BQlfrtip',
    buttons: [
    {
        extend: 'collection',
        text: 'Export',
        buttons: [
            'copy',
            'excel',
            'csv',
            'pdf',
           
        ]
    },

    ]

});

document.querySelector('.dtsb-title').style.display = 'none'

</script>

{% endblock %}