{% extends 'dashboard/index.html' %}

{% block dashoard_title %} 
VGM List - 
{% endblock %}

{% block dashboard_heading %}
<h1 class="h4 mb-0 text-gray-800">
    VGM List
</h1>

<a href="{% url 'dashboard:create_vgm' module=module %}" class=" d-inline-block btn  btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Create VGM</a>


{% endblock %}


{% block dashboard_content %}


<input type="hidden" id="current_month" value="{{ current_month }}">

<div class="row ">
 
    <div class="col-12">
        <div class="mb-2" style="display: flex;">
           
           
                
            <input  data-toggle="toggle"  data-on="Date" data-off="Month" type="checkbox" id="choose_option_date" onchange="changeDateFilterOption();" >
                   
            
        </div>
       

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="choose_option" value="month" id="choose_option">
            <div class="row">

                <div class="col-md-4 col-sm-12 mb-3" style="display: none;" id="choose_by_date">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label for="from_date">From</label>
                            <input type="date" name="from_date" class="form-control" id="from_date" >
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="to_date">To</label>
                            <input type="date" name="to_date" class="form-control" id="to_date" >
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 mb-3" id="choose_by_month">
                    <label for="months">Choose Month</label>
                    <select class="form-control" name="months" id="months" required>
                        <option value="1">January</option>
                        <option value="2">Febuary</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>

                <div class="col-md-3 col-sm-12 mb-3">
                    <button type="submit" style="margin-top: 33px;" class=" btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>



<table class="table compact table-bordered table-md-responsive table-primary" id="vgm_table">
    <thead>
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">Job No.</th>
        <th scope="col">Job Date</th>
        <th scope="col">Company</th>
        <th scope="col">Shipper</th>
        <th scope="col">Licence No.</th>
        <th scope="col">Weighing Slip No.</th>
        <th scope="col">Type</th>
       
     
        <th scope="col">PDF</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
        {% for data in vgms %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ data.job }}</td>
        <td>{{ data.job.job_date }}</td>
        <td>{{ data.company_type }}</td>
        <td>{{ data.shipper }}</td>
        <td>{{ data.shipper_licence_no }}</td>
        <td>{{ data.weighing_slip_no }}</td>
        <td>{{data.vgm_type}}</td>
        <td><a href="{% url 'dashboard:vgm_pdf' id=data.id %}" target="_blank" class="btn btn-info mr-3"><i class="fas fa-file-pdf"></i></a></td>
       
        
        <td>
            <a href="{% url 'dashboard:vgm_update' module=module id=data.id %}" class="btn btn-info mr-3"><i class="fas fa-edit"></i></a>

            {% if request.user.user_account.can_delete %}

            <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}">
            <i class="fas fa-trash"></i>
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ forloop.counter }}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModal{{ forloop.counter }}Label">Delete {{data.shipper}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                Are you sure want to delete {{ data.shipper }}?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'dashboard:vgm_delete' module=module id=data.id %}" class="btn btn-primary">Confirm Delete</a>
                </div>
            </div>
            </div>
        </div>
        {% endif %}
        </td>
    
      </tr>
      {% endfor %}
     
    </tbody>
  </table>

 
  {% endblock %}
  
{% block js %}
<script>
  let table = new DataTable('#vgm_table', {
    dom: 'BQlfrtip',
    buttons: [
    {
        extend: 'collection',
        text: 'Export',
        buttons: [
            'copy',
            'excel',
            'csv',
            'pdf',
           
        ]
    },

    ]

});

document.querySelector('.dtsb-title').style.display = 'none'

</script>

<script>
  document.getElementById('months').value = document.getElementById('current_month').value

  function changeDateFilterOption(){
      var dateOption = document.getElementById('choose_option_date').checked

      if(dateOption){
          
          document.getElementById('choose_option').value = 'date'
          document.getElementById('choose_by_month').style.display = 'none'
          document.getElementById('choose_by_date').style.display = 'block'
          document.getElementById('from_date').required = true
          document.getElementById('to_date').required = true
          document.getElementById('months').required = false
      }
      else{
          
          document.getElementById('choose_option').value = 'month'
          document.getElementById('choose_by_month').style.display = 'block'
          document.getElementById('choose_by_date').style.display = 'none'
          document.getElementById('from_date').required = false
          document.getElementById('to_date').required = false
          document.getElementById('months').required = true
      }
  }

</script>
{% endblock %}