{% extends 'dashboard/index.html' %}

{% block dashoard_title %} 
Payment Voucher List - 
{% endblock %}


{% block dashboard_heading %}
<h1 class="h5 mb-0 text-gray-800">
Payment Voucher List
</h1>

<a href="{% url 'accounting:create_payment_voucher' module=module %}" class="d-inline-block btn  btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Create Payment Voucher</a>


{% endblock %}


{% block dashboard_content %}

<div class="">

  <form action="" method="post">
      {% csrf_token %}
      <div class="row">
          <div class="col-2">
              <label for="from_date">From Date</label>
              <input type="date" name="from_date" value="{{from_date|date:'Y-m-d'}}" class="form-control form-control-sm" id="start_date">
          </div>
          <div class="col-2">
              <label for="to_date">To Date</label>
              <input type="date" name="to_date" value="{{to_date|date:'Y-m-d'}}" class="form-control form-control-sm" id="to_date">
          </div>
          <div class="col-2">
              <button type="submit" class="btn btn-primary btn-sm mt-4">Filter</button>
          </div>
      </div>
  </form>

</div>
<div class="table-responsive">


<table class="table compact table-primary table-bordered " id="payment_voucher_table">
    <thead>
      <tr>
        <th scope="col">S. No.</th>
        <th>Accounts</th>

        <th scope="col" style="width: 130px;">Voucher No.</th>
        <th scope="col" style="width: 100px;">Voucher Date</th>
        <th scope="col">Instrument No.</th>
        <th scope="col">Paid Amount</th>
        <th scope="col">Adjustment Amount</th>
        <th scope="col">TDS Amount</th>
        <th scope="col">Net Amount</th>
        <th scope="col">Created At</th>
        <th scope="col">Duplicate</th>
      
        
        
     
        <th scope="col" style="width: 100px;">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      {% for data in vouchers %}
      {% if data in duplicate_list %}
      <tr style="background-color: rgb(244, 111, 111); color: white!important;" class="text-white">
        {% else %}
        <tr>
        {% endif %}
        <th scope="row">{{ forloop.counter }}</th>
        <td>
          {% for i in data.pay_voucher_detail.all %}
          {% if i.party %}
          {{i.party}}
          {% elif i.vendor %}
          {{i.vendor}}
          {% else %}
          {{i.ledger}}
          {% endif %}
          {% endfor %}
        </td>

        <td>{{ data.voucher_no }}</td>
        <td>{{ data.voucher_date|date:"Y-m-d" }}</td>
        <td>{{ data.instrument_no }}</td>
        <td align="right">{{data.paid_amount|floatformat:0|floatformat:2}}</td>
        <td align="right">{{data.adjustment_amount|floatformat:0|floatformat:2}}</td>
        <td align="right">{{data.payment_tds_amount|floatformat:0|floatformat:2}}</td>
        <td align="right">{{data.net_amount|floatformat:0|floatformat:2}}</td>
        <td align="right">{{data.created_at|date:"Y-m-d"}}</td>
        <td align="right">
          {% if data in duplicate_list %}
          Duplicate
          {% endif %}
        </td>

        <td>

          <a href="{% url 'accounting:payment_voucher_update' module=module id=data.id %}" target="_blank" class="btn btn-xs btn-info "><i class="fas fa-edit"></i></a>
          

         
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#viewModal{{ forloop.counter }}">
        <i class="bi bi-eye"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="viewModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="viewModal{{ forloop.counter }}Label" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="viewModal{{ forloop.counter }}Label">View {{data.voucher_no}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                <table class="table compact table-bordered table-md-responsive">
                  <thead>
                    <tr>
                      <th style="background-color: #2d045c;">Sno.</th>
                      <th style="background-color: #2d045c;">Date</th>
                      <th style="background-color: #2d045c;">Invoice No.</th>
                      <th style="background-color: #2d045c;">Pending Amount</th>
                      <th style="background-color: #2d045c;">Paid Amount</th>
                      <th style="background-color: #2d045c;">TDS Amount</th>
                      <th style="background-color: #2d045c;">Adjustment Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for entry in data.pay_voucher_detail.all %}
                    <tr>
                      <th>{{ forloop.counter }}</th>
                      <th>{{ entry.date }}</th>
                      <th>{{entry.invoice.invoice_no}}</th>
                      <th>{{ entry.pending_amount|floatformat:0|floatformat:2 }}</th>
                      <th>{{ entry.paid_amount|floatformat:0|floatformat:2 }}</th>
                      <th>{{ entry.tds_amount|floatformat:0|floatformat:2 }}</th>
                      <th>{{ entry.adjustment_amount|floatformat:0|floatformat:2 }}</th>
                      
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             
              </div>
          </div>
          </div>
      </div>


            {% if request.user.user_account.can_delete %}

           

        <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}">
            <i class="fas fa-trash"></i>
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ forloop.counter }}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModal{{ forloop.counter }}Label">Delete {{data.voucher_no}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                Are you sure want to delete {{ data.voucher_no }}?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'accounting:payment_voucher_delete' module=module id=data.id  %}" target="_blank" class="btn btn-primary">Confirm Delete</a>
                </div>
            </div>
            </div>
        </div>
        {% endif %}
        </td>
    
      </tr>
   
      {% endfor %}
     
    </tbody>
  </table>

</div>

  

{% endblock %}

{% block js %}

<script>
    let table = new DataTable('#payment_voucher_table', {
        // options
        dom: 'BQlfrtip',
        order: [[7, 'desc']],
        buttons: [
        {
            extend: 'collection',
            text: 'Export',
            buttons: [
                'copy',
                'excel',
                'csv',
                'pdf',
               
            ]
        },

        ]

    });
  
    document.querySelector('.dtsb-title').style.display = 'none'


</script>

{% endblock %}