<table class="table compact display table-bordered table-primary" style="width:100%" id="job_table">
    <thead>
<tr>

    <th scope="col">S. No.</th>
    {% if request.user.is_staff %}
    <th>Branch</th>
    {% endif %}

    
    <th>Job No</th>
    
    {% if all_jobs %}
    <th>Module</th>
    {% endif %}

    <th>S/type</th>
    <th>Date</th>
    <th>Importer</th>
    <th>Shipper</th>
    <th>POL</th>
    <th>POD</th>
    <th>S/L</th>
    <th>FPOD</th>
    <th>HBL</th>
    <th>MBL</th>
    <th>HBL_UP</th>
    <th>MBL_UP</th>
    <th>ETD</th>
    <th>ETA</th>
    <th>EQP Type</th>
    <!-- <th>Conatiner No</th> -->
    <th>Conatiner Count</th>
    <th>No of packages</th>
    <th>packages type</th>
    <th>Vessel Voy</th>
    <th>Container&nbsp;Count</th>
    <th>Sales Person</th>
   
    <th>Status</th>
    <th>Rail Out</th>
    <th>HBL Status</th>
    <th>HBL Rec. Date</th>
    <th>HBL Location</th>
    <th>Created&nbsp;By</th>
    <th>Created&nbsp;At</th>
    <th>Last&nbsp;Updated&nbsp;By</th>
    <th>Last&nbsp;Updated&nbsp;At</th>

    
   
    <!-- <th scope="col">S. No.</th>
    <th>Job No</th>
    <th>Date</th>
    <th>Company</th>
    <th>Alt. Company</th>
    <th>Shipper</th>
    <th>Consignee</th>
    <th>Shipper Invoice	date</th>
    <th>Gross weight</th>
    <th>Net weight</th>
    <th>Ship bill no</th>
    <th>Ship bill date</th>
    <th>Shipping Line</th>
    <th>Booking No</th>
    <th>POL </th>
    <th>POD</th>
    <th>SI cut off date</th>
    <th>Rail out date</th>
    <th>Vessel Voyage</th>
    <th>Sailing date</th>
    <th>MBL No</th>
    <th>MBL Date</th>
    <th>HBL No</th>
    <th>HBL Date</th>
    <th>Container no</th>
    <th>Container type</th>
    <th>Container Count</th>
    <th>TAX INV NO & DT</th>

    <th>Approved</th> -->
   
   
    
    <th scope="col">Actions</th>
    
</tr>
</thead>
<tbody>
    {% for data in jobs %}
    <tr>
   
        <th scope="row">{{ forloop.counter }}</th>
        {% if request.user.is_staff %}
        <th>{{data.company_type}}</th>
        {% endif %}
        <td> {{data.job_no}} </td>

        {% if all_jobs %}
        <td> {{data.module}} </td>
        {% endif %}

        <td> {{data.shipment_type}} </td>
        <td> {{data.job_date}} </td>
        {% if data.importer %}
        <td> {{data.importer}} </td>
        {% else %}
        <td> {{data.consignee}} </td>
        {% endif %}

        <td> {{data.shipper}} </td>
        <td> {{data.port_of_loading}} </td>
        <td> {{data.port_of_discharge}} </td>
       
        <td> {{data.shipping_line}}</td>
        <td> {{data.final_destination}} </td>
        <td> 
            {% for hbl in data.job_hbl.all %}
            {{hbl.job_hbl_no}},
            {% endfor %}
        </td>
        <td>
            {% for i in data.job_hbl.all %} 
            {{i.mbl_no}}, 
            {% endfor %}
        </td>
        <td> {{data.hbl_no}} </td>
        <td> {{data.mbl_no}} </td>
        <td> {{data.etd_date}} </td>
        <td> {{data.eta_date}} </td>
        <td>
            {% for i in data.job_container.all %}
            {{i.container_type}}
            {% endfor %} 
        </td>
       
        <td>
          {% for i in data.job_container.all %}

          {{i.job_container_no}}
        {% endfor %}

        </td>
        <!-- <td>4</td> -->
        
        
        <td> {{data.no_of_packages}} </td>
        <td> {{data.packages_type}} </td>
        <td> {{data.vessel_voy_name}} </td>
        <td> {{data.job_container.count}} </td>
        <td> {{data.account_manager}} </td>
        <td> {{data.status}} </td>
        <td> {{data.railout_date}} </td>
        <td> {{data.hbl_status}} </td>
        <td> {{data.hbl_recieved_date}} </td>
        <td> {{data.hbl_location}} </td>

        <td>{{data.created_by}}</td>
        <td>{{data.created_at}}</td>
        <td>{{data.updated_by}}</td>
        <td>{{data.updated_at}}</td>

        <!-- <th scope="row">{{ forloop.counter }}</th>
        <td>{{data.job_no}}</td>
        <td>{{data.job_date}}</td>
        <td>{{data.company_type}}</td>
        <td>{{data.alternate_company}}</td>
        <td>{{data.shipper}}</td>
        <td>{{data.consignee}}</td>
        <td>{{data.shipper_invoice_date}}</td>
        <td>{{data.gross_weight}}</td>
        <td>{{data.net_weight}}</td>
        <td>{{data.ship_bill_no}}</td>
        <td>{{data.ship_bill_date}}</td>
        <td>{{data.shipping_line}}</td>
        <td>{{data.booking_no}}</td>
        <td>{{data.port_of_loading}}</td>
        <td>{{data.port_of_discharge}}</td>
        <td>{{data.si_cut_off_date}}</td>
        <td>{{data.rail_out_date}}</td>
        <td>{{data.vessel_voy_name}}</td>
        <td>{{data.sailing_date}}</td>
        <td>{{data.mbl_no}}</td>
        <td>{{data.mbl_date}}</td>
        <td>{{data.hbl_no}}</td>
        <td>{{data.hbl_date}}</td>
        <td>
            {% for cont in data.job_container.all %}
            {{cont.container_type}}/{{cont.job_container_no}} ,
            {% endfor %}
        </td>
        <td>{{data.container_type}}</td>
        <td>{{data.job_container.count}}</td>
        <td>{{data.shipper_invoice_no}}</td> -->


    <!-- {% if data.company_type.is_job_approve_required  %}
    
    {% if data.is_approved and data.application_handler %}
    <td><span class="badge rounded-pill bg-success">Approved</span></td>
    {% elif data.is_approved and not data.application_handler %}
    <td><span class="badge rounded-pill bg-success">N/A</span></td>
    {% else %}
    <td><span class="badge rounded-pill bg-danger">Pending</span></td>
    {% endif %}
    
    {% else %}
    <td><span class="badge rounded-pill bg-danger">N/A</span></td>
    {% endif %} -->

   

   
    <td>
        {% if data.module == 'Air Export' %}
        <a href="{% url 'operations:job_update' module='air_export' id=data.id %}" class="btn btn-xs btn-info mr-3" ><i class="fas fa-edit"></i></a>
        {% elif data.module == 'Sea Export' %}
        <a href="{% url 'operations:job_update' module='sea_export' id=data.id %}" class="btn btn-xs btn-info mr-3" ><i class="fas fa-edit"></i></a>
        {% elif data.module == 'Sea Import' %}
        <a href="{% url 'operations:job_update' module='sea_import' id=data.id %}" class="btn btn-xs btn-info mr-3" ><i class="fas fa-edit"></i></a>
        {% elif data.module == 'Air Import' %}
        <a href="{% url 'operations:job_update' module='air_import' id=data.id %}" class="btn btn-xs btn-info mr-3" ><i class="fas fa-edit"></i></a>
        {% endif %}

        {% if request.user.user_account.can_delete %}

        <!-- Button trigger modal -->
    <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}">
        <i class="fas fa-trash"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ forloop.counter }}Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModal{{ forloop.counter }}Label">Delete {{data.job_no}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure want to delete {{ data.job_no }}?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="{% url 'operations:job_delete' module=module id=data.id %}" class="btn btn-primary">Confirm Delete</a>
            </div>
        </div>
        </div>
    </div>
    {% endif %}

    </td>
    </tr>
  {% endfor %}
 
</tbody>
</table>