<table class="table compact display table-bordered table-primary" style="width:100%" id="job_table">
    <thead>
<tr>
    <th scope="col">S. No.</th>
    <th>Job Now</th>
    <th>Date</th>
    <th>Company</th>
    <th>Shipper</th>
    <th>Consignee</th>
    <th>MBL No</th>
    <th>ETD</th>
    <th>ETA</th>
    <th>HBL No</th>
    <th>POL </th>
    <th>POD</th>
    <th>Gross weight</th>
    <th>Net weight</th>
    <th>Shipping Line</th>
    <th>Vessel Voyage</th>
    <th>Container&nbsp;Count</th>
    <th>Created&nbsp;By</th>
    <th>Created&nbsp;At</th>
    <th>Last&nbsp;Updated&nbsp;By</th>
    <th>Last&nbsp;Updated&nbsp;At</th>

    <!-- <th>Booking No</th> -->

    <!-- <th>MBL Date</th> -->
    <!-- <th>Alt. Company</th> -->
    <!-- <th>HBL Date</th> -->
    <!-- <th>Shipper Invoice	date</th> -->
    <!-- <th>B/E no</th> -->
    <!-- <th>B/E date</th> -->
    <!-- <th>SI cut off date</th> -->
    <!-- <th>Rail out date</th> -->
    <!-- <th>Sailing date</th> -->
    <!-- <th>Container no</th> -->
    <!-- <th>Container type</th> -->
    <!-- <th>Container Count</th> -->
    <!-- <th>TAX INV NO & DT</th> -->
    <!-- <th>Approved</th> -->
    <th scope="col">Actions</th>
    
</tr>
</thead>
<tbody>
    {% for data in jobs %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{data.job_no}}</td>
        <td>{{data.job_date}}</td>
        <td>{{data.company_type}}</td>
        <td>{{data.shipper.party_name}}</td>
        <td>{{data.consignee}}</td>
        <td>{{data.mbl_no}}</td>
        <td>{{data.etd}}</td>
        <td>{{data.eta}}</td>
        <td>
            {% for hbl in data.job_hbl.all %}
            {{hbl.job_hbl_no}}
            {% endfor %}
        </td>
        <td>{{data.port_of_loading}}</td>
        <td>{{data.port_of_discharge}}</td> 
        <td>{{data.gross_weight}}</td>
        <td>{{data.net_weight}}</td>  
        <td>{{data.shipping_line}}</td> 
        <td>{{data.vessel_voy_name}}</td>
        <td>{{data.job_container.count}}</td>
       
        <!-- <td>{{data.alternate_company}}</td> -->
        <!-- <td>{{data.shipper_invoice_date}}</td> -->
        <!-- <td>{{data.ship_bill_no}}</td>
        <td>{{data.ship_bill_date}}</td> -->
        <!-- <td>{{data.booking_no}}</td> -->
        <!-- <td>{{data.si_cut_off_date}}</td> -->
        <!-- <td>{{data.rail_out_date}}</td> -->
        
        <!-- <td>{{data.sailing_date}}</td> -->
        
        <!-- <td>{{data.mbl_date}}</td> -->
        
        <!-- <td>{{data.hbl_date}}</td> -->
        <!-- <td>
            {% for cont in data.job_container.all %}
            {{cont.container_type}}/{{cont.job_container_no}} ,
            {% endfor %}
        </td> -->
        <!-- <td>{{data.container_type}}</td>
        <td>{{data.job_container.count}}</td>
        <td>{{data.shipper_invoice_no}}</td> -->

    <!-- {% if data.company_type.is_job_approve_required  %}
    
    {% if data.is_approved and data.application_handler %}
    <td><span class="badge rounded-pill bg-success">Approved</span></td>
    {% elif data.is_approved and not data.application_handler %}
    <td><span class="badge rounded-pill bg-success">N/A</span></td>
    {% else %}
    <td><span class="badge rounded-pill bg-danger">Pending</span></td>
    {% endif %}
    
    {% else %}
    <td><span class="badge rounded-pill bg-danger">N/A</span></td>
    {% endif %} -->


    <td>{{data.created_by}}</td>
    <td>{{data.created_at}}</td>
    <td>{{data.updated_by}}</td>
    <td>{{data.updated_at}}</td>
   

   
    <td>
        <a href="{% url 'operations:job_update' module=module id=data.id %}" class="btn btn-xs btn-info mr-3"><i class="fas fa-edit"></i></a>

        {% if request.user.user_account.can_delete %}

        <!-- Button trigger modal -->
    <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}">
        <i class="fas fa-trash"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ forloop.counter }}Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModal{{ forloop.counter }}Label">Delete {{data.job_no}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure want to delete {{ data.job_no }}?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="{% url 'operations:job_delete' module=module id=data.id %}" class="btn btn-primary">Confirm Delete</a>
            </div>
        </div>
        </div>
    </div>
    {% endif %}

    </td>
    </tr>
  {% endfor %}
 
</tbody>
</table>