<div class="tab-pane fade" id="agent_instruction" role="tabpanel" aria-labelledby="agent_instruction-tab">
    <div class="row">

        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_delivery">Destination Agent</label>
            {{ form.delivery }}
        </div>

        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_isf_filed_by"> ISF Filed By</label>
            {{ form.isf_filed_by }}
        </div>


        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_isf_no"> ISF No.</label>
            {{ form.isf_no }}
        </div>

        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_isf_date"> ISF Date</label>
            {{ form.isf_date }}
        </div>

        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_move_type">Move Type</label>
            {{ form.move_type }}
        </div>

        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_line_freight"> Line Freight</label>
            {{ form.line_freight }}
        </div>

        

        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_freight_term"> Freight Terms</label>
            {{ form.freight_term }}
        </div>

    </div>
</div>