<div  class="tab-pane fade" id="job_cfs" role="tabpanel" aria-labelledby="job_cfs-tab">
    <div class="row">
        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_cfs_port_name">CFS/Buffer</label>
            {{ form.cfs_port_name }}
        </div>

        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_cfs_in_date">CFS In Date</label>
            {{ form.cfs_in_date }}
        </div>
        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_cfs_out_date">CFS Out Date</label>
            {{ form.cfs_out_date }}
        </div>

        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_charges">CFS Charges</label>
            {{ form.charges }}
        </div>

        <div class="col-md-3 col-sm-12 mb-1">
            <label for="id_port_of_loading">Port Of Loading</label>
            {{ form.port_of_loading }}
            
        </div>

    </div>
</div>