<div class="tab-pane fade show active" id="charges_to_collect" role="tabpanel" aria-labelledby="charges_to_collect-tab">
    {% if update %}
    <input type="hidden" name="total_collect_rows" id="total_collect_rows" value="{{data.manifest_charges_collect.all|length}}">
    {% else %}
    <input type="hidden" name="total_collect_rows" id="total_collect_rows" value="1">
    {% endif %}
 
    <table class="table table-bordered " id="collect_entry">
         
        <tr>
            <th>Billing Head</th>
            <th>Qty</th>
            <th>Curr.</th>
            <th>Ex. Rate</th>
            <th>Rate</th>
            <th>Total</th>
            <th></th>
        </tr>
        {% if not update %}
        <tr id="collect_entry-1">

            <td>
                <input type="hidden" name="is_collect_active-1" value="yes" id="is_collect_active-1">
                
                <select name="collect_billing_head-1" id="collect_billing_head-1" class="form-control">
                    <option value=""> Choose Billing Head </option>
                    {% for head in global_billing_head %}
                    <option value="{{head.id}}">{{ head }}</option>
                    {% endfor %}
                </select>

            </td>
            <td>
                <input type="number" step="0.01"  class="form-control" onkeyup="calculateCollectTotal(1)" name="collect_qty-1" id="collect_qty-1"  />
            </td>
            <td>
                <select name="collect_currency-1" id="collect_currency-1" class="form-control">
                    <option value=""> Choose Currency </option>
                    {% for curr in global_currencies %}
                    <option value="{{curr.id}}">{{ curr }}</option>
                    {% endfor %}
                </select>
            </td>
        <td>
            <input type="number" step="0.01"  class="form-control" onkeyup="calculateCollectTotal(1)" name="collect_ex_rate-1" id="collect_ex_rate-1"  />
        </td>
        <td>
            <input type="number" step="0.01"  class="form-control" onkeyup="calculateCollectTotal(1)" name="collect_rate-1" id="collect_rate-1"  />
        </td>
        <td>
            <input type="number" step="0.01"  class="form-control" name="collect_total-1" id="collect_total-1"  />
        </td>
        
        <td><div class="btn btn-sm btn-danger" onclick="deleteCollectRow(1)">Remove</div></td>
    </tr>
        
    {% else %}
    {% for i in data.manifest_charges_collect.all %}
        <tr id="collect_entry-{{forloop.counter}}">

        <td>
          
            <select name="collect_billing_head-{{forloop.counter}}" id="collect_billing_head-{{forloop.counter}}" class="form-control">
                <option value=""> Choose Billing Head </option>
                {% for head in global_billing_head %}
                {% if head.id == i.billing_head.id %}
                <option value="{{head.id}}" selected>{{ head }}</option>
                {% else %}
                <option value="{{head.id}}">{{ head }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </td>

        <td>
            <input type="hidden" name="is_collect_active-{{forloop.counter}}" value="yes" id="is_collect_active-{{forloop.counter}}">
            <input type="number"  step="0.01"  value="{{i.qty}}" class="form-control" onkeyup="calculateCollectTotal({{forloop.counter}})" name="collect_qty-{{forloop.counter}}" id="collect_qty-{{forloop.counter}}"  />
        </td>
        <td>
            <select name="collect_currency-{{forloop.counter}}" id="collect_currency-{{forloop.counter}}" class="form-control">
                <option value=""> Choose Currency </option>
                {% for curr in global_currencies %}
                {% if i.curr.id == curr.id %}
                <option value="{{curr.id}}" selected>{{ curr }}</option>
                {% else %}
                <option value="{{curr.id}}">{{ curr }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="number" step="0.01" value="{{i.ex_rate}}" onkeyup="calculateCollectTotal({{forloop.counter}})"  class="form-control" name="collect_ex_rate-{{forloop.counter}}" id="collect_ex_rate-{{forloop.counter}}"  />
        </td>
        <td>
            <input type="number" step="0.01" value="{{i.rate}}"  class="form-control" onkeyup="calculateCollectTotal({{forloop.counter}})" name="collect_rate-{{forloop.counter}}" id="collect_rate-{{forloop.counter}}"  />
        </td>
        <td>
            <input type="number" step="0.01" value="{{i.total}}"  class="form-control" name="collect_total-{{forloop.counter}}" id="collect_total-{{forloop.counter}}"  />
        </td>
        
      
        <td><div class="btn btn-sm btn-danger" onclick="deleteCollectRow({{forloop.counter}})">Remove</div></td>
        </tr>
    {% endfor %}
    {% endif %}
    </table>
    <div class="text-right w-100">
        <button type="button" class="btn btn-sm btn-primary" onclick="addCollectRow()"> Add More </button>
    </div>


    <script>
     
        var collectCurrentRowNumber = parseInt(document.getElementById('total_collect_rows').value) || 0
        var collectAvailableRowNumber = parseInt(document.getElementById('total_collect_rows').value) || 0
        const addCollectRow = () => {
            collectCurrentRowNumber += 1
            collectAvailableRowNumber += 1
            var newRow =  document.getElementById('collect_entry').insertRow(-1)
            newRow.id = `collect_entry-${collectCurrentRowNumber}`
            newRow.classList.add("entry")
            var billing_head = newRow.insertCell(0)
            var qty = newRow.insertCell(1)
            var curr = newRow.insertCell(2)
            var ex_rate = newRow.insertCell(3)
            var rate = newRow.insertCell(4)
            var total = newRow.insertCell(5)
          
            var delete_cell = newRow.insertCell(6)
            
            billing_head.innerHTML = `
            <input type="hidden" name="is_collect_active-${collectCurrentRowNumber}" value="yes" id="is_collect_active-${collectCurrentRowNumber}">
            <select name="collect_billing_head-${collectCurrentRowNumber}" id="collect_billing_head-${collectCurrentRowNumber}" class="form-control">
                <option value=""> Choose Billing Head </option>
                {% for head in global_billing_head %}
                <option value="{{head.id}}">{{ head }}</option>
                {% endfor %}
            </select>
            `
            qty.innerHTML = `
                <input type="number" step="0.01"  class="form-control" onkeyup="calculateCollectTotal(${collectCurrentRowNumber})" name="collect_qty-${collectCurrentRowNumber}" id="collect_qty-${collectCurrentRowNumber}"  />
            `
            curr.innerHTML = `
            <select name="collect_currency-${collectCurrentRowNumber}" id="collect_currency-${collectCurrentRowNumber}" class="form-control">
                <option value=""> Choose Currency </option>
                {% for curr in global_currencies %}
                <option value="{{curr.id}}">{{ curr }}</option>
                {% endfor %}
            </select>
            `
            ex_rate.innerHTML = `
            <input type="number" step="0.01"  class="form-control" onkeyup="calculateCollectTotal(${collectCurrentRowNumber})" name="collect_ex_rate-${collectCurrentRowNumber}" id="collect_ex_rate-${collectCurrentRowNumber}"  />
            `
            rate.innerHTML = `
            <input type="number" step="0.01"  class="form-control" onkeyup="calculateCollectTotal(${collectCurrentRowNumber})" name="collect_rate-${collectCurrentRowNumber}" id="collect_rate-${collectCurrentRowNumber}"  />
            `
            total.innerHTML = `
            <input type="number" step="0.01"  class="form-control" name="collect_total-${collectCurrentRowNumber}" id="collect_total-${collectCurrentRowNumber}"  />
            `
    
            
            delete_cell.innerHTML = `
                <div class="btn btn-sm btn-danger" onclick="deleteCollectRow(${collectCurrentRowNumber})">Remove</div>
            `
          
            document.getElementById('total_collect_rows').value = collectCurrentRowNumber
        }
    
       
    
        const deleteCollectRow = (index) => {
            document.getElementById(`is_collect_active-${index}`).value = "no"
           
            document.getElementById(`collect_entry-${index}`).style.display = 'none'
            collectAvailableRowNumber -= 1
        }
    

        const calculateCollectTotal = (id) => {
            var collectQty = document.getElementById(`collect_qty-${id}`).value
            var collectRate = document.getElementById(`collect_rate-${id}`).value
            var collectExRate = document.getElementById(`collect_ex_rate-${id}`).value
            var collectTotal = document.getElementById(`collect_total-${id}`)
         
            collectQty = parseFloat(collectQty)
            collectRate = parseFloat(collectRate)
            collectExRate = parseFloat(collectExRate)
            collectTotal.value = Math.round((collectQty * collectRate * collectExRate) * 100)/100
           
        }
    
    </script>
</div>


