<div class="tab-pane fade" id="city" role="tabpanel" aria-labelledby="city-tab">
            
    <h5>City File <span style="font-size: 14px;">Total Cities : {{cities_global_length}}</span></h5>
    <div class="row">
        <div class="col-12 mb-2">Please enter correct field name as per your excel file <i class="far fa-question-circle text-danger" style="cursor: pointer;"  data-toggle="tooltip" data-placement="right" title="Please Fill State Name Also So State Name Field is Necessary"></i></div>


        <div class="col-md-12 col-sm-12 mb-3">
            <label for="city_name">For City Name</label>
            <input type="text" class="form-control" name="city_name" id="city_name">
        </div>

      
        
        <div class="col-12 mb-3">
            <label for="city_file">City File</label>
            <input type="file" class="form-control" name="city_file"
             id="city_file">
        </div>
        
        <div class="col-12 mb-3">
            <input type="checkbox" name="city_upload" id="city_upload">
            <label for="city_upload">I want to upload City file</label>
        </div>
    </div>

</div>