<div class="tab-pane fade" id="party" role="tabpanel" aria-labelledby="party-tab">
    <h5>Party Master File <span style="font-size: 14px;">Total Parties : {{parties_global_length}}</span></h5>
    <div class="row">
        <div class="col-12 mb-2">Please enter correct field name as per your excel file <i class="far fa-question-circle text-danger" style="cursor: pointer;"  data-toggle="tooltip" data-placement="right" title="All Fields Are Necessary."></i></div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_party_name">Party Name</label>
            <input type="text" id='id_party_name' value="party_name" name='id_party_name' class='form-control' required />
        </div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_fin_non_fin">Financial/Non Financial</label>
            <input type="text" id='id_fin_non_fin' value="fin_non_fin" name='id_fin_non_fin' class='form-control' required />
        </div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_for_station">Station</label>
            <input type="text" id='id_for_station' value="for_station" name='id_for_station' class='form-control' required />
        </div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_Prop_company">Proprietor/Company</label>
            <input type="text" id='id_Prop_company' value="Prop_company" name='id_Prop_company' class='form-control' required />
        </div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_party_type">Party Type</label>
            <input type="text" id='id_party_type' value="party_type" name='id_party_type' class='form-control' required />
        </div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_under">Under</label>
            <input type="text" id='id_under' value="under" name='id_under' class='form-control' required />
        </div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_res_person">Responsible Person</label>
            <input type="text" id='id_res_person' value="res_person" name='id_res_person' class='form-control' required />
        </div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_party_short_name">Party Short Name</label>
            <input type="text" id='id_party_short_name' name='id_party_short_name' value="party_short_name" class='form-control' required />
        </div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_party_iata_code">Party IATA Code</label>
            <input type="text" id='id_party_iata_code' name='id_party_iata_code' value="party_iata_code" class='form-control' required />
        </div>
        
        <div class="row col-12">

        

        <div class="col-md-5 mb-3 col-sm-12">
            <div class="row">
                
                <div class="col-12 mb-3">
                    <label for="id_corp_address_line1">Corporate Adress Detail</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="id_corp_address_line1" value="corp_address_line1" name="id_corp_address_line1" required />
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="id_corp_address_line2" value="corp_address_line2" name="id_corp_address_line2" required />
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="id_corp_address_line3" value="corp_address_line3" name="id_corp_address_line3" required />
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_corp_country">Corporate Country</label>
                    <input type="text" id="id_corp_country" name="id_corp_country" value="corp_country" class="form-control" required>
                </div>
                
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_corp_state">Corporate State</label>
                    <input type="text" id="id_corp_state" name="id_corp_state" value="corp_state" class="form-control" required>
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_corp_city">Corporate City</label>
                    <input type="text" id="id_corp_city" name="id_corp_city" value="corp_city" required class="form-control">
                </div>

              
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_corp_email">Corporate Email</label>
                    <input type="text" id="id_corp_email" name="id_corp_email" value="corp_email" required class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_corp_website">Corporate Website</label>
                    <input type="text" id="id_corp_website" name="id_corp_website" value="corp_website" required class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_corp_website">Corporate GSTIN</label>
                    <input type="text" id="id_corp_gstin" name="id_corp_gstin" value="corp_gstin" required class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_corp_zip">Corporate ZIP</label>
                    <input type="text" id="id_corp_zip" name="id_corp_zip" value="corp_zip" required class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_corp_fax">Corporate Fax</label>
                    <input type="text" id="id_corp_fax" name="id_corp_fax" value="corp_fax" required class="form-control">
                </div>

            

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_corp_contact">Corporate Contact</label>
                    <input type="text" id="id_corp_contact" name="id_corp_contact" value="corp_contact" required class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_corp_pan">Corporate PAN</label>
                    <input type="text" id="id_corp_pan" name="id_corp_pan" value="corp_pan" required class="form-control">
                </div>


            </div>
        </div>

        <div class="col-md-2 col-sm-12 mb-3 text-center">
           
        </div>
      

        <div class="col-md-5 mb-3 col-sm-12">
            <div class="row">
                
                <div class="col-12 mb-3">
                    <label for="id_bill_address_line1">Billing Adress Detail</label>
                    <div class="mb-3">
                        <input type="text" id="id_bill_address_line1" required name="id_bill_address_line1" value="bill_address_line1" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="id_bill_address_line2" required name="id_bill_address_line2" value="bill_address_line2" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="id_bill_address_line3" required name="id_bill_address_line3" value="bill_address_line3" class="form-control">
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_bill_country">Billing Country</label>
                    <input type="text" id="id_bill_country" required name="id_bill_country" value="bill_country" class="form-control">
                </div>
                
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_bill_state">Billing State</label>
                    <input type="text" id="id_bill_state" required name="id_bill_state" value="bill_state" class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_bill_city">Billing City</label>
                    <input type="text" id="id_bill_city" required name="id_bill_city" value="bill_city" class="form-control">
                </div>

              
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_bill_email">Billing Email</label>
                    <input type="text" id="id_bill_email" required name="id_bill_email" value="bill_email" class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_bill_website">Billing Website</label>
                    <input type="text" id="id_bill_website" required name="id_bill_website" value="bill_website" class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_bill_gstin">Billing GSTIN</label>
                    <input type="text" id="id_bill_gstin" required name="id_bill_gstin" value="bill_gstin" class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_bill_zip">Billing ZIP</label>
                    <input type="text" id="id_bill_zip" required name="id_bill_zip" value="bill_zip" class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_bill_fax">Billing Fax</label>
                    <input type="text" id="id_bill_fax" required name="id_bill_fax" value="bill_fax" class="form-control">
                </div>

            

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_bill_contact">Billing Contact</label>
                    <input type="text" id="id_bill_contact" required name="id_bill_contact" value="bill_contact" class="form-control">
                </div>

                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="id_bill_pan">Billing PAN</label>
                    <input type="text" id="id_bill_pan" required name="id_bill_pan" value="bill_pan" class="form-control">
                </div>


            </div>
        </div>

    </div>
        
        <div class="col-12 mb-3">
            <label for="party_file">Party Master File</label>
            <input type="file" class="form-control" name="party_file"
             id="party_file">
        </div>
        
        <div class="col-12 mb-3">
            <input type="checkbox" name="party_master_upload" id="party_master_upload">
            <label for="party_master_upload">I want to upload Party Master file</label>
        </div>
    </div>
</div>