<div class="tab-pane fade" id="sea_port" role="tabpanel" aria-labelledby="sea_port-tab">
            
    <h5>Sea Ports File <span style="font-size: 14px;">Total Sea Ports : {{sea_ports_global_length}}</span></h5>
    <div class="row">
        <div class="col-12 mb-2">Please enter correct field name as per your excel file <i class="far fa-question-circle text-danger" style="cursor: pointer;"  data-toggle="tooltip" data-placement="right" title="All Fields Are Necessary."></i></div>


        <div class="col-md-12 col-sm-12 mb-3">
            <label for="sea_port_name">For Sea Port Name</label>
            <input type="text" class="form-control" name="sea_port_name" id="sea_port_name">
        </div>

      
        
        <div class="col-12 mb-3">
            <label for="sea_port_file">Sea Port File</label>
            <input type="file" class="form-control" name="sea_port_file"
             id="sea_port_file">
        </div>
        
        <div class="col-12 mb-3">
            <input type="checkbox" name="sea_port_upload" id="sea_port_upload">
            <label for="sea_port_upload">I want to upload Sea Port file</label>
        </div>
    </div>

</div>