<div class="tab-pane fade" id="shipping_line" role="tabpanel" aria-labelledby="shipping_line-tab">
    <h5>Shipping Lines File <span style="font-size: 14px;">Total Shipping Lines : {{shipping_lines_global_length}}</span></h5>
    <div class="row">
        <div class="col-12 mb-2">Please enter correct field name as per your excel file <i class="far fa-question-circle text-danger" style="cursor: pointer;"  data-toggle="tooltip" data-placement="right" title="All Fields Are Necessary."></i></div>


        <div class="col-md-12 col-sm-12 mb-3">
            <label for="shipping_line_name">For Shipping Line Name</label>
            <input type="text" class="form-control" name="shipping_line_name" id="shipping_line_name">
        </div>
        
      
        
        <div class="col-12 mb-3">
            <label for="shipping_line_file">Shipping Line File</label>
            <input type="file" class="form-control" name="shipping_line_file"
             id="shipping_line_file">
        </div>
        
        <div class="col-12 mb-3">
            <input type="checkbox" name="shipping_line_upload" id="shipping_line_upload">
            <label for="shipping_line_upload">I want to upload Shipping Line file</label>
        </div>
    </div>
</div>