{% extends 'dashboard/index.html' %}

{% block dashboard_heading %}
<h1 class="h4 mb-0 text-gray-800">
    {% if update %}
    Update Air Line
    {% else %}
    Create New Air Line
    {% endif %}

</h1>

<a href="{% url 'masters:airline_details' module=module %}" class="d-inline-block btn  btn-primary shadow-sm"><i
        class="fas fa-eye  text-white-50"></i> View List</a>
{% endblock %}


{% block dashboard_content %}


<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% include 'error_component.html' %}
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-3">
            <label for="id_name">Air Line Name</label>
            {{ form.name }}
        </div>

        

    </div>

    <button type="submit" class="btn btn-primary">
        {% if update %}
        Update Air Line
        {% else %}
        Submit
        {% endif %}

    </button>
</form>



{% endblock %}