{% extends 'dashboard/index.html' %}

{% block dashboard_heading %}
<h1 class="h4 mb-0 text-gray-800">
    Commodity List
</h1>

<a href="{% url 'masters:create_commodity' module=module %}" class="d-inline-block btn  btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Create Commodity</a>


{% endblock %}


{% block dashboard_content %}

<table class="table compact table-primary table-bordered table-md-responsive" id="party_table">
    <thead>
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
     
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
        {% for data in commodities %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ data.type }}</td>
        <td>{{ data.name }}</td>
        
        <td>
            <a href="{% url 'masters:commodity_update' module=module id=data.id %}" class="btn btn-info mr-3"><i class="fas fa-edit"></i></a>

            {% if request.user.user_account.can_delete %}
            <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}">
            <i class="fas fa-trash"></i>
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ forloop.counter }}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModal{{ forloop.counter }}Label">Delete {{data.type}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                Are you sure want to delete {{ data.name }}?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'masters:commodity_delete' module=module id=data.id %}" class="btn btn-primary">Confirm Delete</a>
                </div>
            </div>
            </div>
        </div>
        {% endif %}
        </td>
    
      </tr>
      {% endfor %}
     
    </tbody>
  </table>


  <script>
    let table = new DataTable('#party_table', {
        // options
    });
  </script>

{% endblock %}