{% extends 'dashboard/index.html' %}

{% block dashoard_title %} 
Indirect Expense Details - 
{% endblock %}

{% block dashboard_heading %}
<h1 class="h5 mb-0 text-gray-800">
    Indirect Expense List
</h1>

<a href="{% url 'accounting:create_indirect_expense' module=module %}" class=" d-inline-block btn  btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Create Indirect Expense</a>


{% endblock %}


{% block dashboard_content %}


<div class="">

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-2">
                <label for="choose_company">Choose Branch</label>
                <select name="choose_company" class="form-control form-control-sm" id="choose_company" >
                    {% if choose_company == 'All' %}
                    <option value="All" selected>All</option>
                    {% else %}
                    <option value="All">All</option>
                    {% endif %}
                    {% for data in global_companies %}
                    {% if choose_company == data.id %}
                    <option value="{{data.id}}" selected>{{data.company_name}}</option>
                    {% else %}
                    <option value="{{data.id}}">{{data.company_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
              </div>
              
            <div class="col-2">
                <label for="from_date">From Date</label>
                <input type="date" name="from_date" value="{{from_date|date:'Y-m-d'}}" class="form-control form-control-sm" id="start_date">
            </div>
            <div class="col-2">
                <label for="to_date">To Date</label>
                <input type="date" name="to_date" value="{{to_date|date:'Y-m-d'}}" class="form-control form-control-sm" id="to_date">
            </div>
            
           
            <div class="col-2">
                <button type="submit" class="btn btn-primary btn-sm mt-4">Filter</button>
            </div>
        </div>
    </form>
  
  </div>

<div class="table-responsive">



<table class="table compact table-primary table-bordered " id="indirect_exp_table">
    <thead>
      <tr>

        
        <th scope="col">Job No.</th>
        <th scope="col">Vendor</th>
        <th scope="col">Bill No.</th>
        <th style="width: 70px;" scope="col">Date</th>
        <th scope="col">Company</th>
        <th scope="col">Gross</th>
        <th scope="col">GST</th>
        <th scope="col">Net</th>
        
        <th style="width: 100px;" scope="col">Created At</th>
        <th scope="col">Actions</th>
        <th scope="col">PDF</th>
        
      </tr>
    </thead>
    <tbody>
        {% for data in invoices %}
        <tr>
       
        <td>{{ data.job_no }}</td>
        <td>{{ data.vendor }}</td>
        <td>{{ data.bill_no }}</td>
        <td>{{ data.bill_date|date:"Y-m-d" }}</td>
        <td>{{ data.company_type }}</td>
        <td align="right">{{ data.gross_amount|floatformat:0|floatformat:2 }}</td>
        <td align="right">{{ data.gst_amount|floatformat:0|floatformat:2 }}</td>
        <td align="right">{{ data.net_amount|floatformat:0|floatformat:2 }}</td>
        <td>{{ data.created_at|date:"Y-m-d" }}</td>
        <td>
            <a href="{% url 'accounting:indirect_expense_update' module=module id=data.id  %}" class="btn btn-xs btn-info mr-3"><i class="fas fa-edit"></i></a>

            {% if request.user.user_account.can_delete %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-xs btn-danger" data-toggle="modal"
                        data-target="#deleteModal{{ forloop.counter }}" data-toggle="tooltip" data-placement="top" title="Delete Invoice">
                        <i class="fas fa-trash"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModal{{ forloop.counter }}Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModal{{ forloop.counter }}Label">Delete
                                        {{data.bill_no}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure want to delete {{ data.bill_no }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="{% url 'accounting:indirect_expense_delete' module=module id=data.id  %}"
                                        class="btn btn-primary">Confirm Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

            
        </td>
         <td>
            {% if data.file1 %}
              <a class="btn btn-xs btn-primary" href="{{ data.file1.url }}" target="_blank"><i class="fas fa-file-pdf"></i>1</a>
            {% endif %}
            {% if data.file2 %}
              <a class="btn btn-xs btn-primary" href="{{ data.file2.url }}" target="_blank"><i class="fas fa-file-pdf"></i>2</a>
            {% endif %}
            {% if data.file3 %}
              <a class="btn btn-xs btn-primary" href="{{ data.file3.url }}" target="_blank"><i class="fas fa-file-pdf"></i>3</a>
            {% endif %}
            
            </td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>

</div>

{% endblock %}


{% block js %}

<script>
    let table = new DataTable('#indirect_exp_table', {
        // options
        dom: 'BQlfrtip',
        "pageLength": 50,
        buttons: [
        {
            extend: 'collection',
            text: 'Export',
            buttons: [
                'copy',
                'excel',
                'csv',
                'pdf',
               
            ]
        },

        ]

    });
  
    document.querySelector('.dtsb-title').style.display = 'none'

</script>

{% endblock %}