<div class="tab-pane fade" id="shipment_instruction" role="tabpanel" aria-labelledby="shipment_instruction-tab">
    <div class="row">

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_bl_type">BL Type</label>
            {{ form.bl_type }}
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_no_of_hbl">No of HBL/MBL</label>
            {{ form.no_of_hbl }}
        </div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_mbl_no">MBL No.</label>
            {{ form.mbl_no }}
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_mbl_type">MBL Type</label>
            {{ form.mbl_type }}
        </div>

        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_mbl_date">MBL Date</label>
            {{ form.mbl_date }}
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
            <label for="id_part_bl">Part BL</label>
            {{ form.part_bl }}
        </div>



    </div>
</div>