<div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
    <div class="row">
        <div class="col-12">

            <table class="table table-bordered compact display">
                <tr>
                    <th>Our</th>
                    <th>Agent</th>
                </tr>
                <tr>
                    <th>{{form.remarks}}</th>
                    <th>{{form.agent_remarks}}</th>
                </tr>
            </table>

        </div>
    </div>
</div>