<div  class="tab-pane fade" id="job_file" role="tabpanel" aria-labelledby="job_file-tab">
    <div class="row">
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_customer_invoice_file"> Customer Invoice </label>
        {{ form.customer_invoice_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_packing_list_file"> Packaging List </label>
        {{ form.packing_list_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_do_file"> DO File </label>
        {{ form.do_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_check_list_file"> Check List File </label>
        {{ form.check_list_file }}
    </div>
    
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_leo_copy_file"> LEO Copy File </label>
        {{ form.leo_copy_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_gatepass_copy_file"> Gatepass Copy File </label>
        {{ form.gatepass_copy_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_vgm_file"> VGM File </label>
        {{ form.vgm_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_weighing_slip_file"> Weighing Slip </label>
        {{ form.weighing_slip_file }}
    </div>
    
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_forwarding_note_file"> Forwarding Note </label>
        {{ form.forwarding_note_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_tr_copy_file"> TR Copy File </label>
        {{ form.tr_copy_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_shipping_instruction_file"> Shipping Instruction File </label>
        {{ form.shipping_instruction_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_bl_file"> BL File </label>
        {{ form.bl_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_isf_file"> ISF File </label>
        {{ form.isf_file }}
    </div>
    <div class="col-md-3 col-sm-12 mb-1">
        <label for="id_booking_copy">Booking Copy </label>
        {{ form.booking_copy }}
    </div>

</div>
</div>