{% if update %}
<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_job_no">Job No. * </label>
    {{ form.job_no }}
</div>

{% endif %}

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_job_date">Job Date *</label>
    {{ form.job_date }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_module">Module</label>
    {{ form.module }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_account">Choose Account Party</label>
    {{ form.account }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_account_address">Choose Account GST</label>
    {{ form.account_address }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_shipper">Choose Shipper</label>
    {{ form.shipper }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_consignee">Choose Consignee</label>
    {{ form.consignee }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_shipping_line">Shipping Line</label>
    {{ form.shipping_line }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_booking_no">Booking No.</label>
    {{ form.booking_no }}

</div>
<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_booking_party">Booking Party</label>
    {{ form.booking_party }}

</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_do_no">DO No.</label>
    {{ form.do_no }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_cfs">CFS</label>
    {{ form.cfs }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_cfs_in_date">CFS Date</label>
    {{ form.cfs_in_date }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_place_of_reciept">Place Of Reciept</label>
    {{ form.place_of_reciept }}
</div>
<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_place_of_loading">Place Of Loading</label>
    {{ form.place_of_loading }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_place_of_loading_date">Loading Date</label>
    {{ form.place_of_loading_date }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_place_of_unloading">Place of Unloading</label>
    {{ form.place_of_unloading }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_place_of_unloading_date">Unloading Date</label>
    {{ form.place_of_unloading_date }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_container_pickup_location">Container Handover</label>
    {{ form.container_pickup_location }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_commodity">Commodity</label>
    {{ form.commodity }}
</div>
<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_commodity_type">Commodity Type</label>
    {{ form.commodity_type }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_no_of_packages">No Of Packages</label>
    {{ form.no_of_packages }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_packages_type">Package Type</label>
    {{ form.packages_type }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_eway_date">Eway Validity Date</label>
    {{ form.eway_date }}
</div>


<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_do_date">DO Date</label>
    {{ form.do_date }}
</div>
<!-- <div class="col-md-3 col-sm-12 mb-1">
    <label for="id_invoice_no">Invoice No</label>
    {{ form.invoice_no }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_invoice_date">Invoice Date</label>
    {{ form.invoice_date }}
</div> -->
<!-- <div class="col-md-3 col-sm-12 mb-1">
    <label for="id_ship_bill_no">Ship Bill No</label>
    {{ form.ship_bill_no }}
</div> -->
<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_bl_no">B/E No</label>
    {{ form.bl_no }}
</div>

<!-- <div class="col-md-3 col-sm-12 mb-1">
    <label for="id_ship_bill_date">Ship Bill Date</label>
    {{ form.ship_bill_date }}
</div> -->

<!-- <div class="col-md-3 col-sm-12 mb-1">
    <label for="id_gross_weight">Gross Weight</label>
    {{ form.gross_weight }}
</div> -->

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_ptc_mobile">PTC Name Mobile</label>
    {{ form.ptc_mobile }}
</div>

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_gr_no">GR NO</label>
    {{ form.gr_no }}
</div>
<!-- 
<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_bilty_no">Bilty No</label>
    {{ form.bilty_no }}
</div> -->

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_trailor_no">Trailor No</label>
    {{ form.trailor_no }}
</div>
<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_container_no">Container No</label>
    {{ form.container_no }}
</div>
<!-- 


<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_owned_hire">Owned/Hire</label>
    {{ form.owned_hire }}
</div>



<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_container_type">Container Type</label>
    {{ form.container_type }}
</div> -->

<div class="col-md-3 col-sm-12 mb-1">
    <label for="id_l_seal">L/Seal</label>
    {{ form.l_seal }}
</div>

