{% extends 'dashboard/index.html' %}

{% block dashoard_title %} 
On Account Receipt Voucher List - 
{% endblock %}

{% block dashboard_heading %}
<h1 class="h5 mb-0 text-gray-800">
  On Account  Reciept Voucher List
</h1>

<a href="{% url 'accounting:on_account_create_reciept_voucher' module=module %}" class="d-inline-block btn  btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Create Reciept Voucher</a>


{% endblock %}


{% block dashboard_content %}
<div class="">
  <form action="" method="post">
    {% csrf_token %} 
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label for="from_date">From Date</label>
        <input class="form-control form-control-sm" type="date" value="{{from_date|date:"Y-m-d"}}" name="from_date" id="from_date" />
      </div>
      <div class="col-md-3 col-sm-12">
        <label for="to_date">To Date</label>
        <input class="form-control form-control-sm" type="date" value="{{to_date|date:"Y-m-d"}}" name="to_date" id="to_date" />
      </div>
      <div class="col-md-3 col-sm-12">
       <button type="submit" class="btn mt-4 btn-primary btn-sm">Search</button>
      </div>
    </div>
  </form>
</div>
<div class="table-responsive">
<table class="table compact table-primary table-bordered table-md-responsive" id="receipt_voucher_table">
    <thead>
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">Branch</th>
        <th scope="col">Party</th>
        <th scope="col">Party Address</th>
        <th scope="col" style="width:140px;">Voucher No.</th>
        <th scope="col">Voucher Date</th>
        <th scope="col">Instrument No.</th>
        <th scope="col">Recieved Amount</th>
        <th scope="col">Created At</th>
      
        <th scope="col" style="width:100px;">Actions</th>
      
      </tr>
    </thead>
    <tbody>
      {% for data in vouchers %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ data.company_type }}</td>
        <td>{{ data.party_name }}</td>
        <td>{{ data.party_address.branch }}</td>
        <td>{{ data.voucher_no }}</td>
        <td>{{ data.voucher_date|date:"Y-m-d" }}</td>
        <td>{{ data.instrument_no }}</td>
        <td align="right">{{data.advance_amount|floatformat:2}}</td>
      <td>{{data.created_at|date:"Y-m-d"}}</td>
        

        <td>
          {% if data.advance_amount > 0 %}
          <a href="{% url 'accounting:on_account_reciept_voucher_update' module=module id=data.id %}" class="btn btn-xs btn-info mr-1"><i class="fas fa-edit"></i></a> 
          {% else %}
          <a href="#" class="btn btn-xs btn-secondary" data-toggle="tooltip" data-placement="top" title="No Advance Amount to Settle"><i class="fas fa-edit"></i></a> 
          {% endif %}


        {% if request.user.user_account.can_delete %}
            <!-- Button trigger modal -->
        <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}">
            <i class="fas fa-trash"></i>
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ forloop.counter }}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModal{{ forloop.counter }}Label">Delete {{data.voucher_no}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                Are you sure want to delete {{ data.voucher_no }}?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'accounting:on_account_reciept_voucher_delete' module=module id=data.id %}" class="btn btn-primary">Confirm Delete</a>
                </div>
            </div>
            </div>
        </div>
    {% endif %}

      </td>
    
   
      </tr>
   
      {% endfor %}
     
    </tbody>
  </table>

</div>

{% endblock %}



{% block js %}

<script>
    let table = new DataTable('#receipt_voucher_table', {
        // options
        dom: 'BQlfrtip',
        order: [[8, 'desc']],
        "pageLength": 50,
        buttons: [
        {
            extend: 'collection',
            text: 'Export',
            buttons: [
                'copy',
                'excel',
                'csv',
                'pdf',
               
            ]
        },

        ]

    });
  
    document.querySelector('.dtsb-title').style.display = 'none'

</script>

{% endblock %}